[2018-08-19 09:34] GabiAxel opened #3 "Proposal: custom value to color function"
Greetings. I had a usecase in which I needed to show specific colors for specific pixel values in a GeoTIFF. I resolved it by modifying https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/georaster-layer-for-leaflet.js#L149 so that it would accept a function option that does this translation, something like this:
[code]

In my case it was always a single value and nothing else (such

[2018-08-19 16:05] DanielJDufour commented on #3
Awesome. I love this idea!  Would you like to submit a pull request?  I can also take your code and make the PR myself.  Whatever works for you :-)

[2018-08-19 17:10] GabiAxel commented on #3
Thanks. Submitted #4

[2018-08-19 19:36] DanielJDufour commented on #3
FYI: I republished with your commit: https://www.npmjs.com/package/georaster-layer-for-leaflet

Closing this issue now.  Thanks again!

[2018-08-19 19:36] #3 closed

[2018-10-10 14:47] DanielJDufour opened #5 "Support UTM"
Related to https://github.com/GeoTIFF/geotiff.io/issues/219

[2018-11-09 16:03] DanielJDufour opened #8 "Add ESLint Linter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
There are naming inconsistencies between snake case and camel case, i.e. `no_data_value` versus `noDataValue`.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add in ESLint like we did for G

[2019-01-08 21:37] DanielJDufour opened #10 "Support Cloud Optimized GeoTIFFs"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Users want to display large COGs, but don't want to have to download the whole thing in order to visualize it.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
1) Add COG support to https://g

[2019-01-08 21:37] DanielJDufour commented on #10
@mhiley

[2019-01-21 18:15] DanielJDufour opened #12 "Turn off Logging in Production"
**Describe the bug**
A clear and concise description of what the bug is.
Users see console.log ing when using in production

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://geotiff.github.io/georaster-layer-for-leaflet-example/

**Expected behavior**
A clear and concise description of what you expected to happen.
No logging unless there's issues

**Screenshots**
If applicable, a

[2019-03-23 20:51] DanielJDufour opened #13 "Add Documentation of Resolution Parameter"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Users might not realize that this library can display in high-resolution

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
Add separate section to Readme.md about adjusting resolution. Also up

[2019-05-12 19:31] pierrethiriet opened #15 "Get valueson click"
Thank you for this leaflet plug-in!
It seems very promising and it could indeed smooth the process for prototyping map with raster by avoiding the need of a specific server.

I have more a question than a bug to report. From my understanding, the Plug-In rely on Leaflet *GridLayer* and it seems that it does not allow to access *on click* to the underlying tile values (in the present case, the rate

[2019-05-12 22:15] DanielJDufour commented on #15
Hi, @pierrethiriet .  That's an excellent question and thank you for your kind words :-)

We currently implement this functionality for geotiff.io.  You can see how we did it here: https://github.com/GeoTIFF/geotiff.io/blob/e6cd0b5c458dd388be46ca8e272bbfa352ba7f94/src/Map.js#L59

Here's a trimmed down version:
[code]

We separate the visualization (georaster-layer-for-leaflet) from analysis (geobl

[2019-05-14 14:42] pierrethiriet commented on #15
Thanks a lot. It works great. I just didn't realize that _node_ was required, with the corresponding skills.

[2019-05-14 21:09] DanielJDufour commented on #15
I'm closing this issue as it seems you have a solution.  Feel free to open more in the future :-)

[2019-05-14 21:09] #15 closed

[2019-06-12 16:45] mhiley commented on #10
@DanielJDufour When we were working on COG support PR's back in January, I think one question that came up is "how do we know raster min/max to determine a color scale range, if we can't read the entire raster?". I think this STAC extension might be useful in thinking about that problem:

https://github.com/radiantearth/stac-spec/pull/470

[2019-06-12 20:33] DanielJDufour commented on #10
Awesome!  Thanks for sharing!

[2019-07-30 14:35] khannurien opened #16 "I don't understand how pixelValuesToColorFn works"
Hi, thanks a lot for your work!

I'm new to JS and not sure how to properly use the GeoRasterLayer's pixelValuesToColorFn option.

I want to display transparent zones where the values equal -99.0 in my GeoTIFF file, else the original color.

I wrote that:

[code]

It works fine when there are only two colors in the source file, however it totally breaks the display when a gradient has to be drawn.

[2019-07-30 16:23] DanielJDufour commented on #16
Just wanted to let you know I saw this.  I'll get back to you within 24 hrs with an answer. Thanks! :-)

[2019-07-31 02:36] DanielJDufour commented on #16
@khannurien , how many bands does your raster have?

If it's a simple 3-Band RGB raster you could do:
[code]

If it's a four-band RGBA raster, you could do:
[code]

If it's not 3 or 4-bands, things get more complicated, but I'm happy to help.

Please let me know if it works or if you have any other questions.  I'd like to improve the documentation to make it more clear. Thanks!!

[2019-07-31 07:19] khannurien commented on #16
First I want to be very clear that I'm not familiar neither with JS nor with TIFF/GeoTIFF. Please forgive my newbism :-)

I tried both your solutions and got the same result each time:

![image](https://user-images.githubusercontent.com/31770422/62191510-e40a4500-b373-11e9-87b8-f8c65abf7923.png)

The original render is as follows:

![image](https://user-images.githubusercontent.com/31770422/621915

[2019-07-31 09:14] khannurien opened #17 "Display data as direction arrows"
Hi!

It would be great if we could display raster data as direction arrows such as in the leaflet-geotiff plugin:
https://github.com/stuartmatthews/leaflet-geotiff

I don't have any idea of the workload involved; sorry if this request seems unrealistic.

[2019-08-01 03:28] DanielJDufour commented on #16
@khannurien , could you try sharing the file again?  I get this error when I go to your link:
![image](https://user-images.githubusercontent.com/4313463/62263618-eeb3f100-b3ea-11e9-8e9f-d417db66790e.png)
You can also email it to me: daniel.j.dufour@gmail.com

Thanks

[2019-08-01 05:16] DanielJDufour commented on #17
Done.  Here's the documentation: https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/ADVANCED.md

However, I've taken a different approach from Stuart Matthews although I love leaflet-geotiff and it's such an awesome project.  Honestly, I don't have enough time to maintain a specific arrow drawing functionality.  I'm hoping by allowing users to pass in their own custom drawing funct

[2019-08-01 05:16] #17 closed

[2019-08-01 11:29] khannurien commented on #16
Done, I emailed it to you!

[2019-08-01 12:33] DanielJDufour commented on #16
Here's some interesting metadata for the image that you sent me.
![image](https://user-images.githubusercontent.com/4313463/62293661-16c94180-b437-11e9-9bea-ed4651f06084.png)

[2019-08-01 12:42] DanielJDufour commented on #16
The NoData Value for the raster is -32767.  Is this SRTM / elevation data?  I this case, you actually want to change your pixelValuesToColorFn to use `-32767` and not `-99`.

Additionally, and this is the most important part, your raster is only 1 band.  It holds elevation values not color.  Although GeoTIFF files are technically "image" files, they sometimes hold values and not colors.  Your job

[2019-08-01 12:43] DanielJDufour commented on #16
Here's a picture of the raster when I boosted resolution of drawn image to 512x512 canvas:
![image](https://user-images.githubusercontent.com/4313463/62294159-60fef280-b438-11e9-928c-9105a42ddcf6.png)

[2019-08-01 12:58] khannurien commented on #16
Thank you very much for your insight. I'm starting to understand how TIFF works.

Here is the result with the following function:

```pixelValuesToColorFn: values => values[0] === -32767.0 ? null : `rgb(${values[0]})`,```

<img width="534" alt="Capture d’écran 2019-08-01 à 14 55 52" src="https://user-images.githubusercontent.com/31770422/62295095-9cb3af80-b46c-11e9-9ddd-786f1b781d6e.png">

I don't

[2019-08-01 15:13] DanielJDufour commented on #16
`rgb(` is supposed to take 3 values. You have only provided one.  This is the same RGB mentioned here: https://www.w3schools.com/cssref/func_rgb.asp

You will also want to scale your values for RGB.  Elevation ranges from 2 to 634 in this image, but RGB only goes from 0 to 255.

Keep me updated:-)

[2019-08-02 08:28] khannurien commented on #16
That's beyond even my comprehension I guess. I keep reading the code of your plugin but I'm unable to understand how to achieve what I want, i.e. displaying transparent zones where data equals an arbitrary value, and displaying the rest as it would have been displayed without tinkering with pixelValuesToColorFn.

My latest tests included calling getColor (didn't work) and chroma.scale (didn't work

[2019-08-09 10:49] m-mohr commented on #10
How does https://github.com/cholmes/cog-map make it for OpenLayers? It would be really helpful to get COG support for Leaflet soon and I'd also help to get it started. I'm STAC contributor and can help out with an STAC extension or some development work here.

[2019-08-09 11:35] m-mohr opened #18 "Dependencies missing"
**Describe the bug**
If I do npm install this package, it doesn't install georaster package, but examples use it. The documentation doesn't say whether users should install it their self. I'd say it should be part of the dependencies in package.json or mentioned to be installed by users.

[2019-08-09 18:01] DanielJDufour commented on #18
Excellent point to bring up @m-mohr .  I definitely need to make my thinking more clear.  There's two main things going on:

1) Applications like https://geotiff.io that have an analysis piece usually via geoblaze in addition to visualization will load the georaster outside of this visualization library.  I made the decision to make georaster a peer dependency instead of baked into the georaster-l

[2019-08-09 18:15] DanielJDufour commented on #10
@m-mohr , I think cog-map is using a Lambda process to tile the imagery and isn't doing it completely client side.  Theoretically we should be able to do it all client-side.

COG support for georaster-layer-for-leaflet is nearly complete, but I haven't had the bandwidth to take it over the goal line.  Current issue is that Leaflet's awesome Grid Layer provides multiple grid cells by default, but t

[2019-08-09 18:16] DanielJDufour commented on #10
Also, thank you for all your work on STAC and pushing that forward!!!! I'd love to be more involved, but unfortunately haven't found the time,

[2019-08-09 18:23] m-mohr commented on #10
Oh, yes, going through cog-map sources I see that it uses the Radiant.Earth API for the COGs. Yeah, more looking for a client-side version, too. Unfortunately, client-side seems to be a bit flaky with geotiff.js, e.g. UTM support isn't there yet?!

PS: There's probably a STAC sprint later this year in the Washington, DC area. Maybe a good opportunity to get involved. ;-)

[2019-08-09 18:26] m-mohr commented on #18
Totally makes sense and the action items should be enough to solve the issue.

Unfortunately, the decision in my project was made to probably switch to OpenLayers, so not sure how much time I can invest here.

[2019-08-09 18:42] DanielJDufour commented on #18
@m-mohr , word.  we're actually thinking of switching over geotiff.io to OpenLayers.  Would be great to collaborate with @constantinius on an OpenLayers alternative.  He built a demo in open layers you might have heard of: https://github.com/geotiffjs/cog-explorer, but AFAIK, it's not a lib you can install from NPM.

[2019-08-09 18:45] m-mohr commented on #18
Yes, I'm just looking around to find a GeoTiff library for OpenLayers. Indeed, EOX worked on it, but it needs some work to make it a full library. Maybe we could really collab on that.

[2019-08-09 18:50] DanielJDufour commented on #18
Also, would be great if we could eventually add COG support to OpenLayers!

[2019-08-09 18:54] DanielJDufour commented on #10
AFAIK, geotiff.js and georaster-layer-for-leaflet support UTM.  Here's some of the relevant code in this lib: https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/georaster-layer-for-leaflet.js#L306.  I know I've tested it on at least one UTM NDVI raster and it worked, but I haven't tested UTM support comprehensively.

Do you have a UTM geotiff that isn't working?

Yeah. Would be gre

[2019-08-11 16:18] constantinius commented on #18
COG-Explorer is a proof of concept and a benchmark whether displaying large COGs is even feasible. So the app is definitely not polished enough to use as a base, but I think concepts and code are definitely reusable. In my opinion, the display of such files consists of three parts: geotiff parsing (what geotiff.js already provides), rendering of the data to RGBs (that is whats missing) and then pu

[2019-08-17 14:00] CarlQLange commented on #10
Hey, do you have a test case for this to help me (or another interested party) to check out the issue? Thanks for all your great work!

[2019-08-23 14:07] FrancescoFilippi opened #19 "IE 11 Support?"
Hi @DanielJDufour , is there a way to make this work on Internet Explorer 11? That would be great!
Most of the problems I'm facing seem related to unsupported sintax.

[2019-08-23 18:54] DanielJDufour commented on #19
Yes, I can definitely try!  To speed things up, would you be able to post a screenshot of the dev console with the error messages.  Thank you!

[2019-08-23 19:53] FrancescoFilippi commented on #19
I'll definitely post screenshot as soon as I can.
Meanwhile, I can recall at least three syntax issues:
- `async` function
https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/d32da7e9c554bc277da4d083be9bacaa42b87794/georaster-layer-for-leaflet.browserify.min.js#L186 low impact, the only await call is commented out
- Template literals
https://github.com/GeoTIFF/georaster-layer-for-leaflet/b

[2019-08-29 13:03] khannurien commented on #16
Hi Daniel,

I just realized I didn't take a proper look at that specific screenshot. You actually managed to do what I want. What function did you use as pixelValuesToColorFn in that case?

[2019-08-30 08:50] DanielJDufour commented on #10
I'm closing this issue now as basic support for COGs has been added.  A lot more stuff to do though, like stitching together COGs client side when each band is stored in a different cog like Landsat does.

[2019-08-30 15:34] khannurien commented on #16
In case anyone is wandering here :-) I manually scale colors:

[code]

That works, but I'd rather do some statistics on data repartition.

@DanielJDufour, can I access min/max values of the raster from inside the function?

[2019-09-04 17:55] #10 closed

[2019-09-13 12:08] DanielJDufour opened #21 "Read from Images split amongst multiple COGs one for each Band"
Almost done with code for this

[2019-09-23 18:18] luisete2 opened #23 "parse_georaster is not defined"
I think this may be a very basic issue but I'm struggling to get this working. I'm working with plain JS.

I add the package via script tag:
`<script src="https://unpkg.com/georaster-layer-for-leaflet/georaster-layer-for-leaflet.browserify.min.js"></script>`

Georaster is also included. I copied the example code and got this error with the first two "require" lines:
`ReferenceError: require is not

[2019-09-24 02:45] DanielJDufour commented on #23
Hi, if you load georaster and georaster-layer-for-leaflet via a script tag, you can call `parseGeoRaster` instead of parse_georaster.  Here's an example: https://github.com/GeoTIFF/georaster-layer-for-leaflet-example/blob/master/examples/load-via-script-tag.html  As you can see in the example, there are no `require` statements required :-)

Let me know if that helps!  If not, I'm happy to improve

[2019-09-24 08:00] luisete2 commented on #23
Okay that solved it! Perfect.

Now my problem I believe is that the TIFs I'm working with are way too big, about 130 MB, and they're not being displayed. Any clue on this?

[2019-09-24 11:33] DanielJDufour commented on #23
No problem! You'll want to consult this example.  https://github.com/GeoTIFF/georaster-layer-for-leaflet-example/blob/master/examples/load-cog-via-script-tag.html

It renders a 800MB cloud optimized geotiff. The demo is here https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-cog-via-script-tag.html

Let me know if you have any additional questions :-)

[2019-09-25 03:13] DanielJDufour commented on #16
Sorry, I haven't gotten back to you on this.  I'm slammed with work at the moment.

[2019-09-25 12:31] DanielJDufour commented on #23
Hi, @luisete2 .  You may want to consider using geoblaze to identify pixels in a georaster.  Here's an example:

https://observablehq.com/@danieljdufour/identify-single-pixel-value-in-geotiff

You can also use GeoBlaze to get the sum of an area:
https://observablehq.com/@danieljdufour/hectares-of-rainfed-wheat-in-ukraine

Happy to take a look at your code once you have it uploaded! :-)

[2019-09-25 19:01] luisete2 commented on #23
Okay, beginning now to use Geoblaze. How can I call the Geoblaze object if I'm importing it from a script in html? Because I see that in the first script you're declaring the geoblaze item as a require. It's the same if I use a script tag?

Btw, my code is now online at http://optren.es/test/
Right now using georaster-layer-for-leaflet and geoblaze.

[2019-10-06 15:09] DanielJDufour commented on #23
Hi, @luisete2  .  I created an example for you.  Could you check it out and let me know if it helps?  As you can see in the example, you don't need to run geoblaze.load:

https://github.com/GeoTIFF/georaster-layer-for-leaflet-example/blob/master/examples/load-via-script-tag-with-geoblaze.html

https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-via-script-tag-with-geoblaze.

[2019-10-06 15:09] DanielJDufour commented on #23
Also, you're working on an awesome project!

[2019-11-20 10:21] Deca opened #24 "Colored tif rendered in bn"
Not sure if is a bug, this is my first time I work with geotiff
I'm trying your example with a colored tif I should work with but It appear on the map in black and white...is there something I'm missing?
![image](https://user-images.githubusercontent.com/3716783/69230714-17254e00-0b88-11ea-838c-f8b91ebd5fce.png)

[2019-11-20 11:00] scazz010 opened #25 "Single value array support"
Hi!

Mega suit of geotiff packages - really helpful, nice code to work with!

I've got a GeoTIFF that has single values, not RGB bands. It looks like
https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/34cb38957822642be285eff1fd272ea8d02a8020/georaster-layer-for-leaflet.js#L130

you're expecting an array of an array of pixel values so [Unit32Array,Unit32Array,Unit32Array] or whatever - but

[2019-11-20 13:52] DanielJDufour commented on #24
Hi, @Deca .  Welcome to GeoTIFFs!  Would you happen to be able to share the GeoTIFF file you are trying to render?  That will be the easiest way for me to debug this for you.

If not could you take a screenshot of the dev console (what is logged when you run `console.log("georaster:", georaster);` and/or run `gdalinfo example.tif` with example.tif replaced by your filename.

Thanks!

[2019-11-20 13:52] DanielJDufour commented on #24
If you'd like to send me the geotiff, you can send it to daniel.j.dufour@gmail.com

[2019-11-20 14:10] DanielJDufour commented on #25
Thank you.  And Awesome issue!  I'll take a look and have a solution hopefully within a week.

[2019-11-20 15:50] Deca commented on #24
Hi Daniel and thanks for the reply, I add as archive the tif I'm using and the georaster obj I got from console
[tif_log.zip](https://github.com/GeoTIFF/georaster-layer-for-leaflet/files/3870066/tif_log.zip)

[2019-11-20 21:59] rowanwins commented on #5
I've handled this in my `geotiff-server` using code along the lines of below.

`requestBbox` is the bounding box of the x/y/z tile that we want to draw. And `nativeSR` is retrieved from the GeoTIFF.

Hope it helps :)

[code]

[2019-11-21 11:04] DanielJDufour commented on #5
Hi, @rowanwins.  I'm sorry about not closing this issue earlier.   I added in UTM support with https://github.com/GeoTIFF/georaster-layer-for-leaflet/commit/27d0a0d2712ac351805f598ea8126b909cf947dc .  Here's an example of loading a COG that's in a UTM projection (32615): https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-cog-via-script-tag.html

Thank you for sharing this

[2019-11-21 11:04] #5 closed

[2019-11-26 11:16] scazz010 opened #27 "Extra props passed to custom draw function"
Hi again!

I'm using the library to render a DEM so my raster values represent altitude at each point.

I'm adding hill shading to a layer. So, I hook into the customDrawFunction - except I don't get access to the entire raster here and I need the surrounding pixels to determine slop angle and aspect

https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/34cb38957822642be285eff1fd272ea8d02a8

[2019-11-26 13:28] DanielJDufour commented on #27
Hi. A PR would be most welcome!  Perhaps we should say `rasterX` and `rasterY` for the new variables?  I'm not sure we need to return a reference to the georaster object, because presumably the developer would already have access to this.  But can't hurt to include it! Thank you!

[2019-11-26 17:03] scazz010 commented on #27
I think the developer has the entire georaster object, but if it's a cogeo optimized tiff, the getRasters function creates a set of options for sampling which are then passed to `getValues`

We then get this much lighter raster which is the raster I'm proposing to pass down into the customDrawFunction, along with the rasterX and rasterY coordinates.

----

just checking I'm not talking nonsense an

[2019-11-26 17:46] DanielJDufour commented on #27
Excellent Point! Yes, let's include it :-)  What would be a good name for the variable?  The source code uses tileRasters, but I'm afraid that variable name isn't very clear to people who might like to use this library.  Open to your thoughts :-)

[2019-11-28 09:26] scazz010 commented on #27
https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/34cb38957822642be285eff1fd272ea8d02a8020/georaster-layer-for-leaflet.js#L248

You've commented sampledRaster - which I quite like! I was going to suggest renderedRaster or something of that ilk. I'm going to to with sampledRaster, but feel free to change it. Been busy, but I'll get a PR in today (hopefully ;) )

[2019-12-05 08:28] zaakzaku opened #28 "Uncaught (in promise) TypeError: Cannot read property '527' of undefined"
Uncaught (in promise) TypeError: Cannot read property '527' of undefined
 georaster-layer-for-leaflet.bundle.js line:317
please check it.

[2019-12-05 08:38] jcimoch opened #29 "Unable to display big Geotiff data"
**Describe the bug**
When trying to use some GeoTif coming from this site https://www.faa.gov/air_traffic/flight_info/aeronav/digital_products/ifr/
I'm unable to display them in leaflet. Firstly the library is processing the image for few minutes on web worker, then I'm getting info that basically it was processed successfully however layer is empty.

**To Reproduce**
Steps to reproduce the behavi

[2019-12-05 12:21] DanielJDufour commented on #28
Hi, Zaakzaki.  Would you be able to share the GeoTIFF file with me? My email is daniel.j.dufour@gmail.com in case you don't wish to post it here. Thanks!

[2019-12-05 12:32] DanielJDufour commented on #29
Hi, @jcimoch . Just wanted to let you know I saw this.  I'll try to take a look by Monday. Thanks! Have a nice weekend :-)

[2019-12-05 14:28] jcimoch commented on #29
Hi, thanks, I've also tried it on your app http://app.geotiff.io/load. The same symptoms

[2019-12-10 08:48] jcimoch commented on #29
@DanielJDufour any progress on that?

[2019-12-10 13:37] DanielJDufour commented on #29
Unfortunately, I haven't had much luck.  The GeoTIFFs use an afine transformation for each pixel, which georaster doesn't currently support.  They also take a large time to decode.  I'm going to try and see if I can warp the tiffs to 4326 projection and host one as a cloud optimized geotiff.

[2019-12-10 14:50] jcimoch commented on #29
@DanielJDufour do you think it woul be possible to reproject it with this tool https://github.com/mapbox/rasterio/tree/32605d0788421a277384eec9766b52b69375a374 ?
Also do you have any tips regarding cloud optimized geotiff? what hosting do you use? some onpremise or cloud?

[2019-12-16 07:05] DanielJDufour commented on #29
You might be able to reproject with Raster IO, but I'm not sure.

I reprojected it with the following command using gdal:
[code]

And then created overviews (like pyramids/sampled views for different zoom levels) with the following:
[code]

And uploaded it to Amazon S3.

I created a demo with it here: https://geotiff.github.io/georaster-layer-for-leaflet/tests/ifr.html

And you can view the source

[2019-12-27 02:26] DanielJDufour commented on #28
Hello.  I created an example for testing loading GeoTIFF files.  You can view it here: https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-file.html

I was able to load the file (let me know if you want me to send you a screenshot of that).

I also created a FAQs, which you can view here: https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/FAQs.md

Let me kno

[2019-12-27 02:30] DanielJDufour commented on #27
Hi, @scazz010 .  Let me know if you want me to submit a PR for this.  (Looks like I might have some extra free-time in January).

[2019-12-27 04:44] zaakzaku commented on #28
Hi.
Thank for your message

On Fri, Dec 27, 2019 at 11:26 AM Daniel J. Dufour <notifications@github.com>
wrote:

--

Thanks and Best regards,
Byamba-Ochir.J

[2019-12-27 04:55] #28 closed

[2019-12-27 06:44] DanielJDufour commented on #19
These are still definitely issues.  Unfortunately, I haven't found the time to fix them.  @FrancescoFilippi , would you have time to work on this and submit a merge request?

[2020-03-03 09:08] draro commented on #16
Hi,
first of all, thanks for your module.
I'm trying in displaying a geotiff on map, but I'm not able at all to create a coloraturas palette for it. My Geotiff contains values instead of rib band. Could you please address me to a solution?
I'm new in the dev field :). Attached you will find my file.

Thanks in advance,
Davide
[temperature.tiff.zip](https://github.com/GeoTIFF/georaster-layer-for-le

[2020-03-19 11:54] DanielJDufour opened #31 "Use https://github.com/DanielJDufour/utm-utils"

[2020-03-25 12:32] fernandomantoan opened #32 "Errors loading tiff files"
**Describe the bug**
I'm trying to use this library to display some tiff files on my application but some errors are being thrown when loading some specific files. I'm not sure if this is a bug with the lib itself but maybe you can give me some insights about the issues. The code I used is mostly the same as in the `georaster-layer-for-leaflet-example` repository I even forked it to host the tiff

[2020-03-25 14:40] DanielJDufour commented on #32
Hi, @fernandomantoan . Thanks for raising this issue.  I'll take a look and let you know what I discover.

[2020-03-27 05:51] DanielJDufour commented on #32
I just published a new version with some fixes. visual_FieldGroup_1_2020-02-10.tiff and exemplotiff.tif appear to be working now.

nvdi_... tiffs are still broken. I'll continue to investigate over the next few days...

thank you for your patience.

[2020-03-27 14:13] fernandomantoan commented on #32
Hello @DanielJDufour I just gave it a try and the 2 files you mentioned are now working!

Thank you very much for putting effort into this.

If you have any news about these issues please let me know, but thanks to you I can advance further with my feature.

Regards and thanks again.

[2020-04-17 00:45] DanielJDufour opened #34 "Add GeoJSON Mask Option"
[code]

This would mean only display within the bounds.

[2020-06-22 02:00] drewjgray opened #35 "Raster WorldCopy"
Amazing library @DanielJDufour! Is there a way to copy the raster data over to all "copies" of the map? For example, if the user pans the map past -180 or 180 longitude (see screenshot). Thank you!

<img width="919" alt="Screen Shot 2020-06-21 at 6 55 57 PM" src="https://user-images.githubusercontent.com/6283065/85241582-22c44600-b3f1-11ea-842e-07575c17841d.png">

[2020-06-22 14:08] DanielJDufour commented on #35
Hi, @drewjgray .  Thank you for the kind words.  Currently, there doesn't exist this capability, but this is something that could be written.  Would you be interested in submitting a pull request?  Otherwise, I'm happy to work on it, but it may take some time.  Thanks again for brining this to our attention.  It's an issue other users probably have as well!

[2020-06-23 14:37] drewjgray commented on #35
I wish I could! Unfortunately I have very little development experience with the inner workings of Leaflet. If you do get time, I think it would be a really useful feature. If there is something you could point me to on learning more about how I could implement this myself I would love to start learning about it. Thank you!

[2020-06-24 04:31] DanielJDufour commented on #35
I just fixed this bug and published a new version of georaster-layer-for-leaflet (0.5.0) with this fix.  Let me know if it works! Thanks.

[2020-06-26 15:18] saveas opened #36 "Strange gridlines for specific pixelValuesToColorFn"
Hi Daniel and thanks for this amazing plugin!
I run into a strange problem.
I render a geotiff, and when picking this pixelValuesToColorFn:
[code]
everything works perfect:
![image](https://user-images.githubusercontent.com/4006954/85872652-b4102f80-b7d8-11ea-96c0-8e80ec7766c4.png)

But with this function that messes with the alpha value:
[code]
some red grid lines appear in zoom levels >=12
![ima

[2020-06-26 16:11] drewjgray commented on #35
Amazing, works perfectly @DanielJDufour . Thank you!

[2020-06-26 16:11] #35 closed

[2020-06-27 07:54] vmandal commented on #24
What was the solution? Or do we need to use "pixelValuesToColorFn" and manually set color? Can it not automatically display the colors?

[2020-06-27 08:40] Deca commented on #24
Unresolved from my side, I settled for using simple png but I still would like switch to geotiff
Let's see if Daniel have some news

[2020-06-27 22:04] DanielJDufour commented on #24
This should be fixed now.  Please upgrade georaster and georaster-layer-for-leaflet to the newest version.  You can see it in action here: https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-file.html if you load a file with a ColorTable.  Let me know if it works! Thank you for your patience.

<img width="1437" alt="Screen Shot 2020-06-27 at 6 04 12 PM" src="https://user-im

[2020-06-28 00:05] DanielJDufour commented on #36
I'm also seeing grid lines when I zoom in on the first example.  I'm wondering if it's an issue with Leaflet, but I'm not sure:
<img width="703" alt="Screen Shot 2020-06-27 at 8 04 53 PM" src="https://user-images.githubusercontent.com/4313463/85934526-78956400-b8b1-11ea-8a5b-f23b634a95c7.png">
I'll continue to research and let you know.

[2020-06-28 09:53] DanielJDufour commented on #36
I agree that the issue is more pronounced with the second function
<img width="705" alt="Screen Shot 2020-06-28 at 5 53 06 AM" src="https://user-images.githubusercontent.com/4313463/85944288-a60afd80-b903-11ea-8fc6-5617c454b73d.png">

[2020-06-28 11:00] DanielJDufour commented on #36
I believe I discovered the issue.  The most immediate solution is to swap out the pixelValuesToColorFn for a customDrawFunction like
[code]
You'll notice the usage of clearRect.  Using clearRect will drag performance, but will help erase the red lines.  The issue is that by changing the alpha value / opacity of colors, there are faint overlaps between rectangles drawn on the canvas.  For example,

[2020-06-28 13:13] vmandal commented on #24
Excellent work!
Thank you very much @DanielJDufour

[2020-06-28 13:22] saveas commented on #36
Thanks for the time you spent on this Daniel!
Actually the CustomDrawFunction solution works great, there is a very small performance drag but it is on acceptable level for my project!
Plus I learned more about CustomDrawFunction :)
Thanks again!

[2020-06-28 13:22] DanielJDufour commented on #24
Glad to hear it! I'll close this issue for now. Please post any future issues again. Thank you both!

[2020-06-28 13:23] #24 closed

[2020-06-28 13:25] DanielJDufour commented on #36
Sounds great. Glad to hear it works for you!

[2020-06-28 13:25] #36 closed

[2020-06-30 17:34] saveas opened #37 "Get value of tile when using COG files"
Hi!
When loading a simple (not cog) geotiff, we can use geoblaze to identify values as in this example
https://github.com/GeoTIFF/georaster-layer-for-leaflet-example/blob/master/examples/load-via-script-tag-with-geoblaze.html

I tried the same method as for the plain geotiff but it fails.
![image](https://user-images.githubusercontent.com/4006954/86158049-e8555a00-bb10-11ea-818c-9ef1ed51b488.png)

[2020-07-04 12:47] JinDing123 opened #38 "Can I add a TIF diagram at the specified latitude and longitude?"
Hi, I have the latitude and longitude of this TIF, how do I add this TIF to the specified latitude and longitude

[2020-07-04 13:28] DanielJDufour commented on #38
Hi, @JinDing123 . Would you be able to share the tif?  The answer depends if the appropriate metadata is set in the file or not. Thanks.

[2020-07-04 13:35] JinDing123 commented on #38
That's my idea, there's an L.imageoverlay method, given a specified latitude and longitude to put this image in the specified place, and I now have the latitude and longitude of this TIF, can I just do the same thing?Stick this TIF to its latitude and longitude?

This is the latitude and longitude of tif: [[40.7123083, -73.9594277], [40.649605, -73.882305]]

[2020-07-04 13:37] JinDing123 commented on #38
Sorry, I only have this TIF locally, not on the server, and Github does not support tiF sharing

[2020-07-04 14:06] DanielJDufour commented on #38
Feel free to email me the Tiff at daniel.j.dufour@gmail.com

[2020-07-06 01:54] JinDing123 commented on #38
Sorry for replying you so late. I was busy with my work yesterday, and now I have sent the TIF to your email. OvO

[2020-07-18 03:06] DanielJDufour commented on #31
done

[2020-07-18 03:06] #31 closed

[2020-07-18 03:46] DanielJDufour commented on #8
done

[2020-07-18 03:46] #8 closed

[2020-07-18 03:48] DanielJDufour commented on #12
done

[2020-07-18 03:48] #12 closed

[2020-07-18 03:55] DanielJDufour commented on #13
done

[2020-07-18 03:55] #13 closed

[2020-07-18 04:24] DanielJDufour commented on #16
Hi, @draro .  Could you describe a little more how your file is created?  It seems that its CRS might be formatted incorrectly.  Here is the output from gdalinfo:
[code]
It seems to be in EPSG 4326, but the pixelSize is not in degrees, which is common.

[2020-07-18 04:42] DanielJDufour commented on #18
I've added georaster as a peer dependency and added some documentation about it to the README.md.

[2020-07-18 04:42] #18 closed

[2020-07-18 06:20] DanielJDufour commented on #23
hello.  I'm closing this issue as the issue has gone stale.  Please reopen or open a new issue if you are having problems.  Thank you.

[2020-07-18 06:20] #23 closed

[2020-07-18 06:45] DanielJDufour commented on #27
Hi, @scazz010 .  I updated the customDrawFunction to include the requested params.  Please see https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/ADVANCED.md#custom-draw-function.  Thank you again for the great suggestion!

[2020-07-18 06:45] #27 closed

[2020-07-18 07:05] DanielJDufour commented on #32
Hi, @fernandomantoan .  I found the issue with ndvi_contrast_FieldGroup_1_2020-02-10.tiff.  GeoRasterLayer automatically assumes 4-band rasters are RGBA, so the fourth band is interpreted as opacity.  I'm assuming as it's titled NDVI, it's Near Infrared (NIR).  Any easy fix is to use the pixelValuesToColorFn to map a pixel to a color:
[code]
Here's a picture of it working
<img width="714" alt="Scr

[2020-07-18 07:09] DanielJDufour commented on #32
The same approach works for ndvi_contrast_Field_4960_2020-01-24.tiff
<img width="217" alt="Screen Shot 2020-07-18 at 2 09 48 AM" src="https://user-images.githubusercontent.com/4313463/87847195-c4796e80-c89b-11ea-9a54-562c0fb32b13.png">

[2020-07-18 07:13] DanielJDufour commented on #32
On second thought, it seems that the fourth band isn't NIR, but a mask that tells programs whether the pixel is no data or not.  I'm honestly not sure how to fix it more generically, but if we see this issue pop up for others, we can think of a better fix.

I'm going to close this issue now, but please reopen or open another issue if you have any more issues.

[2020-07-18 07:13] #32 closed

[2020-07-22 15:08] CLAMPE2020 opened #39 "Problems with loading of Cloud Optimized Geotiff"
Hi,

first thanks for this great project.

When trying to load the attached COG file I get an error message (in Firefox Web Console):
Uncaught (in promise) Error: No image at index 7
    ke https://unpkg.com/georaster:8
    requestIFD/this.ifdRequests[e]< https://unpkg.com/georaster:8
georaster:8:133786
    asyncGeneratorStep https://unpkg.com/georaster-layer-for-leaflet/georaster-layer-for-leafle

[2020-07-22 15:25] DanielJDufour commented on #39
Hi, @CLAMPE2020 .  I'm sorry about this.  I believe the COG not loading is an issue with the GeoTIFF decoder we use.  See https://github.com/geotiffjs/geotiff.js/issues/152 .  You may solve your issue by installing an older version of georaster.  (I'll try to solve this issue as soon as I can, but I'm busy with some life stuff and it might be a few weeks).

Regarding the min and max values, I'm cu

[2020-07-24 00:08] Nightsphere opened #40 "L is not defined when using georaster-layer-for-leaflet"
Hello! Thanks for making this, it has come in handy for me lately! I have a question for you to see if you can clarify a rather
bizarre issue I've been having recently with this package.

I'm working in Angular 9, which I'm not sure is important or not, but I'm running out of ideas of what is at this point. Long story
short, when I'm running ng serve with a local server, everything is running smoo

[2020-07-24 01:25] DanielJDufour commented on #40
It seems that the issue might be that the script that defines Leaflet is loaded after the script that implements GeoRasterLayer.

<img width="738" alt="Screen Shot 2020-07-23 at 8 20 43 PM" src="https://user-images.githubusercontent.com/4313463/88353145-fe29f980-cd21-11ea-837c-245d3f953025.png">

Although the script tag that loads the `scripts...js` is defined before `main-es2015`...

<img width="

[2020-07-27 05:43] YANI-ALT opened #41 "ReferenceError: Can't find variable: proj4"
Hello!
I am a beginner using this for my project. I got the following error in console not sure what it means...please tell me how I should go about debugging.
I'm using macOS Mojave and safari.

![image](https://user-images.githubusercontent.com/56057217/88507269-ab8a5f00-cff9-11ea-845f-f072d1bd0e8f.png)

The error directs to this portion of the code in : georaster-layer-for-leaflet.browserify.mi

[2020-07-27 19:30] Nightsphere commented on #40
Thanks for getting back so quickly! After your help and looking through an issue on Angular's Github, I think we found a fix. So by default Angular uses
[code]
for each es2015 file, instead of
[code]
and we had changed that because of earlier issues. By just adding defer at the end of the `main-es2015` script tag, we
essentially told the compiler to do everything in the order it is received, same

[2020-07-27 19:30] #40 closed

[2020-07-27 19:35] DanielJDufour commented on #40
Thank you for the explanation. Glad you got it working.

[2020-08-10 20:56] DanielJDufour commented on #41
Hello.  Thank you for posting this issue.  It's a very common issue and I should update the error to be more clear.  I added another entry to the FAQ to answer this: https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/FAQs.md#i-receive-a-referenceerror-cant-find-variable-proj4

Let me know if this helps!

[2020-08-28 21:12] draro commented on #16
Hi Daniel,
sorry for the delay in my answer.
you are right, GDAL was not able to understand the original Projection (Mercator 1SP) and created GTiff with wrong information.
After a long headache on this i was able to manage it and the plugin worked perfectly.
Thanks anyway for your time and dedication.

Here the results:
![image](https://user-images.githubusercontent.com/58738792/91615454-276a2500

[2020-08-28 21:47] DanielJDufour commented on #16
Awesome @draro . Looks great!

[2020-09-02 06:36] note5 opened #42 "Setting custom color scheme"
Hi, thank you are this library.
I would like to color code a raster layer  based on specific colors assigned to specific value.
with the pixelValuesToColorFn I can add it by hardcoding the ranges as I have seen being done on this forum But I would like to calculate the ranges of colors before hand then use then render it.

**Describe the solution you'd like**
For the solution I was thinking how to

[2020-09-04 16:32] DanielJDufour commented on #42
Hi, @note5 .  Thank you for posting this question.  How large is the raster/geotiff file?  If you want to get all of the pixel values, you can run `georaster.getValues()` instead of `geoblaze.get`.  You could then create an array of unique pixel values from that.  However, that will only work if your GeoTIFF is small (perhaps less than 5MB).  Let me know if this helps or if you have more questions

[2020-09-05 04:44] note5 commented on #42
thank you , I have a land use land cover raster that is about 155mbs. How do i best handle this?

[2020-09-06 00:52] DanielJDufour commented on #42
Hi, @note5 .  You'll definitely want to use a cloud optimized GeoTIFF.  You can load a COG using `parseGeoRaster(url_to_cog)`.  You won't want to use `georaster.getValues()` because that will probably take too long to load all of the pixel values.  I can provide more information in a couple days.  Unfortunately, I have some life stuff between then.

[2020-09-06 07:24] note5 commented on #42
Thank you for getting back. I will be awaiting for feedback

[2020-09-07 22:01] DanielJDufour commented on #39
Hi, @CLAMPE2020 .  I have fixed the issue causing `No image at index 7`.  I basically upgraded the version of geotiff.js used by georaster and republished georaster.  Please try and let me know if it works.  Thank you for your patience!

[2020-09-09 03:22] DanielJDufour commented on #42
Hi, @note5 .  Could you consult the following newly created resources and let me know if they help?

First, you will first have to convert your GeoTIFF into a Cloud Optimized GeoTIFF (see: https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/FAQs.md#how-do-i-convert-my-geotiff-into-a-cloud-optimized-geotiff)

Second, you'll want to load the geotiff with `parseGeoRaster(url)` and styl

[2020-09-09 03:23] DanielJDufour commented on #41
Hi, @YANI-ALT .  Did the answer help? Thanks!

[2020-09-09 03:27] DanielJDufour commented on #39
Hi, @CLAMPE2020 .  Are you able to add the Minimum and Maximum into GDAL Metadata embedded inside the GeoTIFF?  Do you control how the GeoTIFFs are made?  I'm working on some code to automatically pull this metadata if it's available, so hopefully will have a solution within the next couple weeks if that's a viable route for you.

[2020-09-09 03:45] YANI-ALT commented on #41
yes this should do ! Thanks

[2020-09-09 03:57] DanielJDufour commented on #41
Awesome!

[2020-09-09 03:57] #41 closed

[2020-09-09 04:12] note5 commented on #42
Thank you, I will check them out today

[2020-09-10 02:00] DanielJDufour opened #43 "Sample from previously loaded tiles at higher zoom level when I zoom out"

[2020-09-22 06:01] mortac8 opened #44 "Question: loading minimal data from image with internal overviews"
My goal is to load the minimal amount of data from a COG with internal overviews.  Is this possible or do I need to be using external overviews?

I want to either load the entire image (using the internal overview ex: 500x500) or load the actual data when far zoomed in.  Any breadcrumbs to help me with this would be appreciated.  Thanks!

[2020-09-22 17:30] DanielJDufour commented on #44
Hi, @mortac8 .  Thank you for posting this issue.  I'll create an example that demonstrates this along with some documentation.  It may take a couple days.  I'll update this issue when that is complete.  Thanks!

[2020-09-25 18:50] DanielJDufour commented on #44
Hi, @mortac8 .  Sorry, I haven't found time to create an example, but for what it's worth, this library should automatically load the minimal amount of data.  It uses georaster, which uses geotiff.js, which is the code actually doing the fetching of tiles.  I'll try to write something up more formally later and add that to the documentation.

[2020-09-26 04:29] mortac8 commented on #44
Thanks for the info.  I am on the fence on using your library vs one of these.  My goal is to work with a large GeoTIFF file (~3GB) that has 16-bits per channel (RGB) which will be 'enhanced' through our algorithms (calculations need to be done on the 16-bit bands) and finally displayed onscreen in the standard 8-bit space.

https://github.com/christian-werner/leaflet-geotiff
https://github.com/da

[2020-09-27 02:49] mortac8 commented on #44
https://jsfiddle.net/mortac8/unjmv7o8/1/

Is that the general idea?  Any way to fix issues where some of the tiles seem not to line up like on the roads?

[2020-09-27 03:03] DanielJDufour commented on #44
Yup. The misalignment of the roads appears to be a by-product of both reprojecting and sampling the raster at the same time.  There's a few possible solutions such as tweaking the resolution param and I can look at improving the core algorithm, but the easiest would be to reproject the raster into the resolution of the map.  Assuming you are using Leaflet with the standard 3857 projection, could y

[2020-10-19 18:25] okanji opened #46 "Question: How to only display specific bands from a geotiff (assuming the geotiff have multiple bands)?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-24 14:04] DanielJDufour opened #47 "Support Rendering Raster in Original Projection"
**Is your feature request related to a problem? Please describe.**
People want to see the raster in the original projection on a Leaflet map.

**Describe the solution you'd like**
People want to be able to load the raster and also change the map projection to that of the raster.

**Describe alternatives you've considered**
- need to look at Leaflet plugins for this

**Additional context**
https://

[2020-10-26 10:14] mdsumner commented on #47
[nt_20201024_f18_nrt_s.zip](https://github.com/GeoTIFF/georaster-layer-for-leaflet/files/5438151/nt_20201024_f18_nrt_s.zip)

[2020-10-26 10:22] mdsumner commented on #47
Can easily do any kind of example, bathymetry topography etc. (I'm focussed on something else rn otherwise I'd look more closely) HTH

[2020-10-26 10:27] tim-salabim commented on #47
Thanks Mike!

[2020-10-27 20:36] DanielJDufour commented on #47
Thank you @mdsumner .  The examples were very helpful (and really quite fascinating).

@tim-salabim , I published a new version of georaster-layer-for-leaflet that works with L.CRS.Simple.  It displays the given raster without any reprojection and still uses nearest neighbor sampling.  Because the map is technically using the "simple" projection and not the projection of the original raster, you w

[2020-10-27 22:30] mdsumner commented on #47
coooool! Glad it's helpful, very happy to make any other examples in any projection (I can do imagery as well there are some interesting maps as well as sat imagery etc).

[2020-10-28 11:18] tim-salabim commented on #47
Thanks @DanielJDufour ! This is fantastic!

I may be mistaken, but as long as the additional layers have identical projection to the raster, overlays should work. I will certainly try as easy adding of layers is one of the key objectives of my efforts in this realm.

Ambitious goals indeed. If I might ask for one more, which will hopefully be much easier to implement:

* have an option to not do a

[2020-10-31 18:27] DanielJDufour commented on #47
Hi, @tim-salabim .  Thank you for the feedback.  It's very helpful.  I'll try to address these issues.

Would you be able to share the code you wrote to test `When overlaying vector data (e.g. markers) in the same projection within the extent of the raster, they appear somewhere else.`, so I can explore the issue more thoroughly.

I'll also work on adding in support for turning off sampling.

[2020-11-01 11:10] tim-salabim commented on #47
[lcrs_simple_overlay.zip](https://github.com/GeoTIFF/georaster-layer-for-leaflet/files/5470610/lcrs_simple_overlay.zip)

@DanielJDufour do you know R? All this is in R via a package called **htmlwidgets** which acts like a translator between R objects and JS to produce valid hmtl. The R code to produce the attached map is

[code]
I hope that the attached map is useful. It should all be there.

I t

[2020-11-24 20:24] aaronyeo40 opened #49 "Remove GeoRasterLayer"
Hi,
    May I know how to remove the layer?

thanks

regard

Aaron

[2020-11-24 20:37] aaronyeo40 commented on #49
var layer = new GeoRasterLayer({
                            georaster: georaster,
                            resolution: 256
                        });
                        layer.addTo(map);
                        map.fitBounds(layer.getBounds());

after tested just remove the **var**

 map.removeLayer(layer);

is it this is the correct way or any alternative?

thanks

[2020-11-25 00:03] DanielJDufour commented on #49
Yup. That's correct.  Thanks for posting this!  It helps others who have the same question :-)

[2020-11-30 17:57] aaronyeo40 opened #50 "Delete multi Layer"
I able to add multi layer based on dynamic url. May I know how to remove layer by id or name (once more than 1 layer).

var url_to_geotiff_fileaaa = "http://localhost:8086/leafletContent/tif/Abc1.tif";

            fetch(url_to_geotiff_fileaaa)
                .then(function (response) { return response.arrayBuffer(); })
                .then(function (arrayBuffer) {
                    parseGeora

[2020-12-07 19:50] Nightsphere opened #51 "Question: What does resolution mean for the Raster layer?"
Hello again! You previously helped me with Issue #40 back in July, which allowed me to put out the first couple maps with raster information. Now I just have a question about what exactly the resolution option for a raster means. I tried looking into the code but couldn't discern it myself. The reason I ask is that some of the layers we display are meant to have 1 cell in the layer represent 40 ac

[2020-12-08 02:36] DanielJDufour commented on #51
Hi, @Nightsphere .  Thank you for your issue.  I'm glad that your are finding the library useful, and for such an awesome cause!  I believe the line issue is caused because Leaflet by design slightly overlaps the tiles (and you are seeing the 1px wide overlap).  I'll have to look into it more before proposing a solution.  Also, always open to ideas and Pull Requests!

You probably wouldn't want to

[2020-12-08 02:37] DanielJDufour commented on #49
@aaronyeo40 solved the issue, so I'm going to close this issue.  Please open new issues as problems come up as it helps everyone.  Thank you very much!

[2020-12-08 02:37] #49 closed

[2020-12-09 02:09] Nightsphere commented on #51
Thank you again for answering so quickly! This information is helpful, and if I have any other questions and/or ideas for updates I'll let you know in the future. Closing the issue.

[2020-12-09 02:09] #51 closed

[2020-12-18 11:49] Rennzie commented on #43
@DanielJDufour this would be an amazing feature. If I understand it correctly the image would remain higher res when zooming back out because it is using the already fetched overlays?

[2020-12-18 14:29] DanielJDufour commented on #43
Yes, that's correct!

[2020-12-18 15:17] Rennzie commented on #43
Amazing. Have you got any sort of time line on this? Or, could I help in anyway. I'm very new to leaflet plugins and class implementations in general but if there are ways I can help please let me know.

[2020-12-21 02:08] DanielJDufour opened #52 "enable injection of proj4"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-12-21 14:27] Rennzie opened #53 "Add an updateColours method to allow for smooth colour updates of MS images."
**Is your feature request related to a problem? Please describe.**
Its frustrating that I need to invoke `georaster.redraw()` to update the colour of my multi-spectral map. It removes all tiles before redrawing showing a flash of blank screen before the image is updated.

**Describe the solution you'd like**
Add an `updateColours` method that takes an updated `pixelValuesToColorFn`. This method sh

[2020-12-22 17:25] DanielJDufour commented on #53
Thank you! This is a great issue to address.

[2020-12-22 19:56] Nightsphere opened #55 "Question: Original band data types"
Hello, it's once again question time! I would like to be able to display the raster's original data types for each band for users. For example, being able to know for sure that in band X, number A is an integer and number B is floating point. JavaScript converts everything to `number`, which I'm sure you know, and it doesn't help if the original data type was uint16, float32, etc.

Is there a way

[2020-12-22 23:30] DanielJDufour commented on #55
Hi, @Nightsphere .  This is a great question.  I don't have a great answer.  The current version of georaster doesn't technically support it, but I'll make sure the next version does (I'm actively working on it).

In the interim, there are two ways to get the information:
1) For georasters that you load via url you can do:
[code]
2) For georasters that have been loaded by a file or array buffer, y

[2020-12-22 23:40] DanielJDufour commented on #43
I can't provide a timeline.  It probably won't be soon though.  If you'd like to attempt it, I'm most open to pull requests!

If you want to try it, I would look at using drawImage:
https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/drawImage

[2020-12-23 00:10] Nightsphere commented on #55
Awesome, thank you for the quick response as always. We are using georasters from a file and were already looking into geotiff-js, so it's good to hear it was the right direction.

It's also great to hear another version is being worked on! Looking forward to it.

[2020-12-23 11:10] Rennzie commented on #43
Ok great. Working with images is pretty new for me but I should have a chance in the New Year to give this a go. If you've got a minute or two to brain dump on how you see this working or what needs to be changed updated, that would be really usefull.

[2020-12-23 14:25] DanielJDufour opened #56 "add .prettierrc"
Please use the config used by `npm run format`:
https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/package.json#L12

[2020-12-23 15:55] Rennzie opened #57 "Default global debugLevel to 0 in production"
When in production its a good idea to silence the debug level by default as the extra console logs would degrade performance and obscures other logging (errors etc). By having a good default setup it improves the DX of the lib.

Add a `const isProduction = process.env.NODE_ENV === 'production'` to the top of `georaster-layer-for-leaflet.js` and then default the global `debugLevel` depending on it:

[2020-12-23 16:10] Rennzie commented on #56
Default values from prettier.io

[code]

[2020-12-23 16:12] DanielJDufour commented on #57
Love it!

[2020-12-23 16:28] #53 closed

[2020-12-24 17:14] DanielJDufour commented on #56
this is complete: https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/.prettierrc

[2020-12-24 17:14] #56 closed

[2021-01-15 15:07] #57 closed

[2021-01-15 15:23] DanielJDufour opened #59 "Implement TypeScript"
**Is your feature request related to a problem? Please describe.**
- Developers using TypeScript would like more support (Intellisense, type-checking etc.)

**Describe the solution you'd like**
- Create a georaster-layer-for-leaflet.ts file that is basically georaster-layer-for-leaflet.js but in typescript

**Describe alternatives you've considered**
- using types file

**Additional context**
- Pl

[2021-01-19 07:57] Rennzie commented on #59
@DanielJDufour does a `georaster` have a specific type signature?

I'm wanting it for typing the options where there are `georasters` and `georaster` properties.

[2021-01-19 14:16] DanielJDufour commented on #59
Hi, @Rennzie .  Unfortunately, I do not have one, but sounds like it would be a good idea to create one.  Is that the same as the "typescript declaration file"?

[2021-01-20 08:22] Rennzie commented on #59
Hey @DanielJDufour, I confused that more than need be 😂. So yes it would be put in a `.d.ts` declaration file but what I'm after is the type of each property in the `georaster` object. I assume that `parseGeoraster` function from your [georaster](https://github.com/GeoTIFF/georaster) library returns an object? It's the shape of that object I'm after.

i.e:
[code]

[2021-01-20 08:39] Rennzie commented on #59
If I console log the result from one of the tests using COG's I get:

[code]

Which broadly speaking would make the type declaration look like this:

[code]

The main question is, are those all the properties in the object `parseGeoraster` returns? Then of those properties which are options, which could return `undefined` or `null` and where I've put `??` I'm not sure what the type should be based

[2021-01-21 04:56] DanielJDufour commented on #59
@Rennzie , thanks for pushing this forward.  Here's some feedback:
- rasterType could be "geotiff" or "object".  I'm hoping to finish a new major release of georaster, which will include a lot of new raster types, but I'm not sure what those all are yet.  We can update the interface when I know.
- noDataValue could technically be anything, but at the moment there's only examples of it being undefi

[2021-01-21 08:37] Rennzie commented on #59
Thanks @DanielJDufour, Thats big help. Some more questions for you:

1. In this piece of code:

[code]

georaster references a `values` type. What would that look like? This did not show up in my console log tests above.

2. In the `georaster` object what do the `getValues` and `toCanvas` methods return if anything?
3. If I understand the code correctly, the argument options for `getValues` should

[2021-01-21 15:11] DanielJDufour commented on #59
Good questions.
1) Values is a 3-dimensional array of numbers.  In other words, an array of bands which are an array of rows which are an array of pixel values.  It can also be undefined when the georaster is loaded from a URL.
2) Good questions.
    - getValues returns a 3-dimensional array of numbers.  getValues may return something different than the values property if the user is passing in pa

[2021-01-21 15:12] DanielJDufour commented on #59
thank you for helping with this. these questions really shine a light on how much more can be done to document and improve the DX.  many thanks!

[2021-01-25 08:21] Rennzie commented on #59
Hey @DanielJDufour,

Thanks for the answers. We moving it forward nicely. Hopefully this will make life easier for people to contribute 😄 .

I've run into a few blockers, mostly because I don't fully understand what some of the code needs to do. I'm going to open a PR with the WIP so we can discuss it more easily.

[2021-01-27 08:44] Rennzie commented on #59
@DanielJDufour I'm looking at the build pipeline to see how best to sit `tsc`. What do you need/use `browserify` for? Can it ouput a file that webpack or babel can't?

[2021-02-09 17:53] Rennzie commented on #59
Hey @DanielJDufour will you have a chance to look at my comments in the pr for this issue? I'm keen to get this work done this week if I can.

[2021-02-09 18:33] DanielJDufour commented on #59
Hi, @Rennzie .  We're mostly using browserify at this point for legacy reasons.  Because some people are using it, I don't want to remove it.  It's not something that absolutely couldn't be removed, but I'd strongly prefer to keep it in if possible.

[2021-02-09 18:53] Rennzie commented on #59
@DanielJDufour one change I made was to add `leaflet` as a peerDependancy. This means I needed to tell webpack that it's an external. Webpack handles this fine in v5.0 but browserify doesn't seem to have a neat option built in. We would have to include another dependancy (`browserify-shim`) to resolve the external module and add some more config. I could take `leaflet` out but the plugin writing d

[2021-02-09 19:28] DanielJDufour commented on #59
No problem.  In the past, I've found it easier to load a library via browserify (with less errors and complications) when one is loading scripts via script tags (versus bundling an application via webpack, parcel, etc.).  (I receive a lot of emails from folks who use GeoRasterLayer for Leaflet this way).

Browserify builds are often smaller than the webpack builds, which is true in our case, but n

[2021-02-09 19:29] DanielJDufour commented on #59
@Rennzie , also, just wanted to say thank you for reaching out again.  Sorry for the delay in response to your questions.  I very much appreciate how much you are putting in to convert this lib to TypeScript.  Not an easy feat!

[2021-02-09 19:47] Rennzie commented on #59
Hey @DanielJDufour, no worries at all. I'm having fun and it's turning into a solid challenge 🎉. This is my first major contribution to OSS which means I'm learning loads about building a library. Thanks for baring with.

Re browserify: I got the *-shim suggestions from [here](https://stackoverflow.com/questions/23125338/how-do-i-use-browserify-with-external-dependencies). No one seems to have too

[2021-03-24 09:57] martinhschei opened #61 "Serialization of a layer"
**Is your feature request related to a problem? Please describe.**
Not a problem - more a request for assistance/feature.

I'm reading quite heavy files from disk (GB++) and i want to save the rendered raster layer on disk for use next time the user wants to view it. I simply save the result from new geoRasterLayer() as a JSON; JSON.stringify(layer). When it's time to read the file from disk i can

[2021-03-25 13:56] DanielJDufour commented on #61
Hi, @martinhschei .  This is a great question.  I definitely think it's within scope of the package!

I think we will a few options, but it depends on answers to a couple questions:
- How are you originally constructing the GeoRaster object?  Are you passing an ArrayBuffer or a GeoTIFF into parseGeoraster or something else?  How are you fetching the large amount of data through a GET request to lo

[2021-03-30 14:45] jcphill opened #62 "Doubled pixels at high zoom levels"
**Describe the bug**
When zoomed in past native raster resolution some rows and columns of pixels are doubled.

**To Reproduce**
1. Download and unzip [check.tif.gz](https://github.com/GeoTIFF/georaster-layer-for-leaflet/files/6229759/check.tif.gz)
2. Load into https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-file.html
3. Zoom in.

**Expected behavior**
A regular checker

[2021-03-30 18:10] DanielJDufour commented on #62
Hi, @jcphill .  Thank you for catching this!  I'll definitely take a look.

[2021-04-03 20:32] #59 closed

[2021-04-03 23:16] DanielJDufour commented on #59
@Rennzie , I just published version 1.0.0!

[2021-07-04 20:21] DanielJDufour commented on #34
Might be more intuitive to say:
[code]

[2021-07-07 11:39] robmarkcole commented on #16
I have a greyscale single band tiff, and following the example of @khannurien above I get the following. Can anyone advise on a method or mapping for greyscale?

![image](https://user-images.githubusercontent.com/11855322/124752897-543a8180-df20-11eb-9052-4b4ad1e95a7f.png)

[2021-07-23 14:23] DanielJDufour commented on #34
@m-mohr

[2021-07-26 21:34] DanielJDufour opened #65 "Easily ID Layer Type"
Would like an easy way to easily determine if something is a GeoRaster Layer

Maybe edit the lyr.name or lyr.constructor.name to be GeoRasterLayer?
Or add a type like lyr.type === GeoRasterLayer?

[2021-08-05 01:53] DanielJDufour opened #66 "Display on a Map with Any Arbitrary CRS (via Proj4Leaflet)"

[2021-08-11 14:40] DanielJDufour opened #67 "Perhaps Allow People to Specify Band to Visualize without Writing a pixelValuesToColorFn?"

[2021-08-13 02:14] DanielJDufour opened #68 "Enable Displaying of GeoTIFFs without Projection information using Simple CRS"

[2021-08-13 09:48] m-mohr commented on #34
How much effort would this be?

[2021-08-16 16:08] DanielJDufour opened #69 "Interpolate Missing No Data Values on the Fly"
**Describe the bug**
Sometimes GeoTIFFs might have random no data values because of random satellite sensor issues.  It would be awesome if this library could automatically interpolate or fill these holes in on the fly dynamically.

**Note**
Sometimes elevation rasters have similar issues where there are bad anomalous readings.  They aren't technically labeled as no-data, but really should be.

[2021-08-23 14:29] shivalikasaxena commented on #16
Hi @DanielJDufour
Excellent library developed for GeoTIFF manipulations!
I am new to Geospatial data and I am trying to plot a GeoTIFF on a base map. I wish to change the applied colors based on a user-specific range.

[code]
where _colorOb_ is an Object containing color mapping<float,hex>

I am trying to understand what exactly does _pixelValue_ contains as it does not have float values that are

[2021-08-23 22:52] DanielJDufour opened #70 "Use theoretical min/max when min/max and pixelValuesToColorFn not provided for a COG"
**Is your feature request related to a problem? Please describe.**
Sometimes people want to display a COG without knowing the min/max.  In these cases, we should default to using the theoretical min and theoretical maximum value.  For example if it's an 8-bit COG, we should assume the range is from 0 to 255 for each band.

[2021-08-25 17:04] ayerix opened #71 "Not compatible with angular 8 and below"
The problem is connected with importing and exporting types in corresponding d.ts file of distribution

This line breaks the compilation of angular 8 project:
export type { GeoRaster, GeoRasterLayerOptions, PixelValuesToColorFn } from "./types";
because it may not be handled properly with typescript 3.4

There is no way to workaround the problem because this line is not supported by ts itself. So

[2021-08-28 03:28] DanielJDufour commented on #70
Partially mitigated by dynamic running calculations, but could still use theoretical max/min of values array unsigned/signed 8-bit and 16-bit arrays, so when hit 0 for an unsigned array, we can stop looking for a min, and when we hit 255 we can stop looking for a max.

[2021-08-28 11:45] DanielJDufour opened #72 "re-render tiles when min/max changes"
**Is your feature request related to a problem? Please describe.**
When rendering COGs based on dynamically computed min/max, tiles at the same zoom level might have been rendered using different min/max values.

**Describe the solution you'd like**
- Re-render tiles created with the old min/max

**Describe alternatives you've considered**
- Could wait to render all the tiles until have computed m

[2021-08-31 12:02] ayerix commented on #71
Hm, yep. It gives the error for
import GeoRasterLayer from 'georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.js'; (I tried this without luck)
but it works for
import GeoRasterLayer from 'georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.min.js'; (it is compiled OK)
So I think the problem solved

[2021-08-31 12:02] #71 closed

[2021-09-01 11:49] ayerix opened #74 "Unstable drawing 3.0.1"
Geotiff attached below works stable on 2.0.2 and has significant gaps (different on different scales) on 3.0.1
See geotiff and drawing examples in attach
[__Chel4_v2.zip](https://github.com/GeoTIFF/georaster-layer-for-leaflet/files/7090775/__Chel4_v2.zip)
[screens.zip](https://github.com/GeoTIFF/georaster-layer-for-leaflet/files/7090784/screens.zip)
leaflet 1.7.1, georaster parser 1.5.4

[2021-09-01 14:03] vlach1989 opened #75 "Scattered tiles in version 3.x"
I'm trying to reproduce following example: https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-cog-via-script-tag.html wrapped with React-Leaflet

It works as expected in version 2.0.2. However, both in version 3.0.2 and 3.1.1 (the latest) the tiles are somehow scattered or missing:

![image](https://user-images.githubusercontent.com/16032132/131685380-29602790-fe22-4e1a-ab

[2021-09-01 14:26] DanielJDufour commented on #75
Hi, @vlach1989 .  Thanks for sharing this.  Would you be able to share the code you are using?  Also, what browser are you using?  Thank you!

[2021-09-01 15:49] DanielJDufour commented on #74
Hi, @ayerix .  Thanks for sharing this.  I'm sorry for the inconvenience this has caused.  Does it load correctly when you load the GeoTIFF at https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-file.html?

[2021-09-02 07:39] ayerix commented on #74
Works ok here, no missing straps, not reproduced. But I don't see plugin versions, so I can't say for sure about it's difference

[2021-09-02 21:32] DanielJDufour commented on #74
I updated the example to use Leaflet 1.7.1 and it appears to continue to work.  Here's the new versions:
- georaster: 1.5.4
- georaster-layer-for-leaflet: 3.1.2
- leaflet: 1.7.1

Could you try with georaster-layer-for-leaflet 3.1.2 and see if any of the recent changes fixed the bug for you?

Could it be a CSS issue?  I'm sorry I haven't been more helpful.

[2021-09-05 00:11] benhid commented on #74
@DanielJDufour CSS issue indeed!

I'm using tailwindcss and it comes with a [set of base styles](https://tailwindcss.com/docs/preflight) -Preflight- built on top of  [_modern-normalize_](https://github.com/sindresorhus/modern-normalize).

It seems like _modern-normalize_ sets `box-sizing: border-box`. Hence using

[code]

solved the issue for me 👏🏻

[2021-09-05 02:46] DanielJDufour commented on #74
hey, @ayerix .  Thank you for figuring this out!  I made a [fix](https://github.com/GeoTIFF/georaster-layer-for-leaflet/commit/62433a50f23e5350526c7ad3eef799640a927f25) and republished the library, so you shouldn't need to use `.leaflet-container * { box-sizing: initial; }` anymore.  You really helped people me make sure GeoRasterLayer works with tailwindcss and other css libraries.  Thank you!

P

[2021-09-05 02:46] #74 closed

[2021-09-05 20:22] geojs commented on #75
@vlach1989 I had the same issue (Leaflet 1.7.1 + Chromium 93), the last version of georaster-layer-for-leaflet [v3.2.0](https://github.com/GeoTIFF/georaster-layer-for-leaflet/releases/tag/v3.2.0) fix the issue.

[2021-09-06 04:53] vlach1989 commented on #75
I confirm, that v3.2.0 fixes the issue

[2021-09-06 04:53] #75 closed

[2021-09-06 15:46] navilaufm commented on #16
Hello  hope someone can help, thanks in advance.

I am having issues with 3 band RGB tif, I have been only using single band, now I am trying to show 3 band but colors does not show ok all are paster like and very weird colors, the image is a satellite image converted to geotiff. Tested in my map and in http://app.geotiff.io/. tif made with GDAL_translate,and warp from jpg

The tif is posted here

[2021-09-06 17:01] DanielJDufour commented on #75
Glad to hear it!

[2021-09-07 02:05] DanielJDufour opened #76 "Investigate why OpenEO Tiff Not Working"
https://github.com/stac-utils/stac-layer/issues/7

[2021-09-07 06:50] vlach1989 opened #77 "Shifted tiles"
The edge between tiles is visible, as if they were slightly offset from each other.

Both in Chrome 93 and Firefox 91 and evident in almost all examples,

![image](https://user-images.githubusercontent.com/16032132/132297659-dfb10be6-a825-4ce9-bc6f-8d0fff468900.png)

[2021-09-07 11:01] m-mohr commented on #76
From my limited understanding of GeoTiff files it seems that there's an issue when reading the file directory and that there's a mismatch between advertised files and files present.

gdalinfo says:

and

[2021-09-07 22:02] m-mohr commented on #77
Yes, I can confirm this issue:

![grafik](https://user-images.githubusercontent.com/8262166/132416280-f8dabf22-e78f-416e-a3d2-39a280a9ba8b.png)

Here it looks even worse.

[2021-09-09 20:40] DanielJDufour commented on #77
Yup.  Confirming this issue, too.  I'm working on an improved version of this library, by intergrading with [geowarp](https://github.com/danieljdufour/geowarp), which provides access to more resampling algorithms.  Hopefully, things will render better once that work is complete.

[2021-09-10 21:04] jcphill commented on #62
#78 should fix this.

[2021-09-11 00:00] DanielJDufour commented on #62
@jcphill , I added a specific test case for this, merged your PR, and republished.  Thank you so much!

[2021-09-11 00:00] #62 closed

[2021-09-17 21:40] jcphill commented on #77
This issue only seems to affect rasters loaded from a URL. Loading from an array buffer looks fine.

[2021-09-18 02:50] jcphill commented on #77
I think this is fixed by https://github.com/jcphill/georaster-layer-for-leaflet/commit/2996308f1c7ed66cf0dc2fc37ac23d0d01a8baf8

[2021-09-22 13:34] jcphill commented on #77
That's only a partial fix. Most of the edge shifting is due to how COG sampling interacts with axis rotation in projections.

[2021-09-29 02:34] rumski20 opened #80 "How specify pixelValuesToColorFn in external file"
Hello, thank you for this awesome library!!
This issue may due to the fact that I am a bit of a novice with JavaScript. However, I am attempting to define the function I set to `pixelValuesToColorFn` from an external file. The problem I am encountering is that I can't seem to send any additional arguments (such as the `georaster`) to the `pixelValuesToColorFn` function.

For example,
[code]

Any i

[2021-09-29 02:45] rumski20 commented on #80
Looking a little harder 👀 I found this example:
https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/8716f51e32b02f45cecaf97bfe870b2eb54bd427/tests/dynamic_threshold_ndvi_no_options.html#L80-L82

This worked and solved my problem. Thank you. Not sure if others struggle with this issue (maybe it's a common JS pattern), but you might want to throw a link to it in the documentation.

[2021-09-29 02:45] #80 closed

[2021-09-29 03:09] DanielJDufour commented on #80
Thank you for the write up @rumski20 .  This really helps people new to the library :-). I'll try to improve the documentation.  It's a common question you had.

[2021-09-30 13:45] DanielJDufour opened #81 "Support Pluggable Projection Resolvers"
**Is your feature request related to a problem? Please describe.**
Some people might want to use another approach to resolving projection information rather than a static baked file of proj4js strings and epsg codes.

**Describe the solution you'd like**
Maybe allow users to specify
[code]

**Describe alternatives you've considered**
none yet, but def open to it. this is just the start

**Addition

[2021-10-05 20:06] rumski20 opened #82 "integration with Vuejs"
Hello,

Thank you again for this great library.
I am wondering if you have any examples that integrate this library with Vuejs or especially [vue-leaflet](https://github.com/vue-leaflet/vue-leaflet)?
I have been able to create a geoRasterLayer and add it to a map the traditional way. But I am wondering if anyone has successfully integrated it with Vuejs so that it can take participate with some of

[2021-10-14 13:43] guygriffiths opened #83 "GeoTIFF draws with latitude direction inverted"
I have a cloud-optimised GeoTIFF which plots fine in QGIS, but when I plot it using your example code, the lower co-ordinate becomes the upper co-ordinate and the image is drawn upside down from there.

I've put the code to reproduce the problem here: https://codepen.io/guygriffiths/pen/abyvJMz

As you can see, it's primarily stolen from your own example, with just a modified `pixelValuesToColorFn

[2021-10-15 20:26] rumski20 opened #84 "Hover Events"
Hello,
I was wondering if there was a means of integrating hover events this layer.
I know that it extends `L.gridLayer`. And I see that someone has figured out how to add these events to gridLayers https://stackoverflow.com/a/56670662/6072959

Maybe in the `createTile()` or `drawTile()` functions, some means of specifying a popup or tooltip could be exposed?

Thanks.

[2021-10-15 21:19] DanielJDufour commented on #84
Hi, @rumski20 .  That's a great idea!  There's currently no easy way to do this integration.  Perhaps we could add a bindPopup or bindTooltip function to GeoRasterLayer?  Are you looking to pass information to the popup?  If yes, what type of information?  I'm trying to determine if you want pixel-level or layer-level information.  Here's an example that also might be useful if you want pixel leve

[2021-11-16 10:57] cmalzer opened #85 "UTM projection interpreted as 4326"
First of all, thank you for your awesome work! I'm currently implementing my own application based on geotiff.io, with additional support for shapefiles and integration of Dataverse to search and map geospatial files.

Unfortunately, I have some GeoTiffs which are not getting displayed (not just in my own implementation, but also when uploading them on geotiff.io).
I'm not getting any errors; but

[2021-11-16 15:20] DanielJDufour commented on #85
Hey. Thanks for reaching out.  Happy to help solve this issue.
geotiff.io is using an older version of georaster-layer-for-leaflet.  Do you have the same issue when you load the GeoTIFF here: https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-file.html ?

[2021-11-16 15:35] cmalzer commented on #85
Hi, thanks for your fast response! Yes, unfortunately the same is happening when I'm using this link. In the console at georaster --> projection it says "4326" and the map is empty. Only after converting it to WGS84 with `gdalwarp` I can see the file.
Unfortunately I'm not allowed to share the file in public, but I could email it to you if this helps.

[2021-11-16 15:45] DanielJDufour commented on #85
Okay.  Thanks for trying though.  You can email it to me at daniel.j.dufour@gmail.com and I can take a look.

[2021-11-16 17:25] DanielJDufour commented on #85
I figured out the issue.  It's this line in georaster: https://github.com/GeoTIFF/georaster/blob/master/src/parseData.js#L93

Basically, it currently mistakenly gives priority to GeographicTypeGeoKey vs. ProjectedCSTypeGeoKey, but it should be the reverse.

Sorry about that.  I'll fix georaster and let you know when I've republished.  Should be today or tomorrow.  (There's a rather lengthly releas

[2021-11-16 18:01] DanielJDufour commented on #85
I published a new version of georaster.  Should be working now!

[2021-11-16 20:36] cmalzer commented on #85
Great, thanks a lot! It is now working when using the link above.

Could you possibly also update the geoblaze package? I'm using geoblaze as a wrapper in my application and I guess it is  using the older georaster version which is why it is not yet working there.
But I'm closing the issue here since it is definitely working with georaster now.

[2021-11-16 20:36] #85 closed

[2021-11-16 21:38] DanielJDufour commented on #85
Okay.  I published a new version of GeoBlaze! https://github.com/GeoTIFF/geoblaze/releases/tag/v1.0.3

[2021-11-19 12:50] vlach1989 opened #86 "Resampling bug?"
Hi,

I came accross the following bug. I have a COG where the pixel values are: 0 - no data, 1 - irrigation, 2 - no irrigation. PixelValuesToColorFn is used for styling, where for value 0 no color is applied, the raster is transparent in those places, value 1 is represented by blue color and value 2 is represented by grey color. As you can see in the attached image, strange "edges" are created bet

[2021-11-19 13:20] DanielJDufour commented on #86
Hi.  I think this might be an issue with bilinear resampling.  You can try nearest resampling like so:

[code]

Let me know if that fixes it for you!

[2021-11-19 13:32] vlach1989 commented on #86
Hi. It works! Thanks so much for tip as well as quick response!

![image](https://user-images.githubusercontent.com/16032132/142630864-f0f3d400-cd1a-4c6a-8cdf-064d07d838c3.png)

[2021-11-26 12:40] CatchSandeepVaid opened #87 "RangeError: Array buffer allocation failed"
**Describe the bug**
using [this link](https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-file.html), When loading large .tif file (197MB), its giving error

`960ce751-ddb9-46c7-b8d1-c2b83fa92b34:10 Uncaught (in promise) RangeError: Array buffer allocation failed
    at new ArrayBuffer (<anonymous>)
    at new Float32Array (<anonymous>)
    at K (960ce751-ddb9-46c7-b8d1-c2

[2021-12-07 07:05] #86 closed

[2021-12-15 14:04] DanielJDufour opened #88 "Support YCbCr"
Related:
https://github.com/radiantearth/stac-browser/issues/108#issuecomment-994661736

[2021-12-15 14:07] DanielJDufour commented on #88
I "think" YCbCr could be currently achieved by passing in a pixelValuesToColorFn that converts [Y, Cb, Cr] to `"rgba(r, g, b, a)"`.

But it would be better to have georaster-layer-for-leaflet natively support this by creating this pixelValuesToColorFn if Photometric tag is YCBCR and no pixelValuesToColorFn is supplied.

[2021-12-15 14:10] DanielJDufour commented on #88
@drwelby , could you provide a direct link to a YCbCr geotiff?  I'll try to add an example visualizing YCbCr to https://github.com/geotiff/georaster-layer-for-leaflet-example once I got that.  Thank you for brining this issue to our attention.  I've just been reading up on YCbCr since then and it's fascinating stuff!

[2021-12-15 15:32] drwelby commented on #88
You and @mmohr are too fast, I started writing out a feature request for this last night!

 We've done it by supplying a `pixelsValueToColorFn`:

[code]

but had not gone to the point of making the detection automatic, or any other features like adding an option to force a color mode.

Here's a YCbCr COG for testing:

https://maxar-ard-samples.s3.amazonaws.com/v3/australia_vineyards/50/21313323101

[2021-12-15 16:14] DanielJDufour commented on #88
@drwelby , thank you.  That is very helpful!  I've added an example here: https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/ycbcr.html

[2021-12-15 16:18] DanielJDufour commented on #88
Updating georaster-layer-for-leaflet might be a bit tricky as I don't think the georaster dependency reveals this information.  I'll try to see if there's an easy way to access the Photometric Interpretation metadata.  Just curious, is photometric interpretation something that is stored in the STAC metadata?
@m-mohr

[2021-12-15 16:40] drwelby commented on #88
We could certainly go in the direction of using STAC metadata for color interpretation if needed.

[2021-12-15 17:12] drwelby commented on #88
I can see `PhotometricInterpretation: 6` in the `IFDRequests` but it seems kind of clunky not to expose the other geotiff tags, as how the geotransform is extracted.

[2021-12-16 12:38] DanielJDufour commented on #88
I think I'll be able to add this with the following code:
[code]

[2021-12-16 12:39] DanielJDufour commented on #88
give me a day or two.  the release process is rather lengthy with a lot of checks.  this change should then percolate up to stac-layer and stac-browser.

[2021-12-21 14:01] rumski20 commented on #84
I forgot to circle back around to this. Your example helped me get it working.

The keys were adding an empty `tooltip` to the layer at instantiation.
And then running `geoblaze.identify(this.georaster, [latlng.lng, latlng.lat])` in a `mousemove` event handler.
And populating the `tooltip` with the results of the `geoblaze.identify`.

Thanks again.

[2021-12-21 14:01] #84 closed

[2022-01-17 13:28] DanielJDufour opened #90 "Scale 2-band, 3-band, and 4-band inputs for getColor"
If the raster is 2 bands, we should still scale the bands like we do for 1 band https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/src/georaster-layer-for-leaflet.ts#L788

[2022-01-17 13:38] DanielJDufour opened #91 "Auto-Visualize Separated Band Scene without pixelValuesToColorFn"
Should be able to automatically visualize a scene with separated bands without specifying a pixelValuesToColorFn like we had to do here: https://github.com/GeoTIFF/georaster-layer-for-leaflet-example/blob/master/examples/separated.html#L45

The following changes are required:
- Need to update https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/src/georaster-layer-for-leaflet.ts#L144

[2022-02-20 16:56] prakashmani2495 commented on #34
Hi,
You did a excellent work which saved me a lot to work on georaster files.
 Can you please help, how to remove the excess layer (outside the polygon), I want the clip/mask the georaster layer with polygon on leaflet and here I'm using 4326 projection. Here I'm attaching the screen shot for reference

![screen shot](https://user-images.githubusercontent.com/53475193/154854276-51a4ac9d-bf0b-4305-

[2022-02-20 17:10] DanielJDufour commented on #34
Hi, @prakashmani2495.  Thanks for helping validate this important use case.  You can't clip/mask with GeoRasterLayer yet, but it's a high priority to me to get this done.  I've been working on some of the dependencies for this task, which you can view here: https://observablehq.com/@danieljdufour/clip-and-reproject-a-geotiff-with-geowarp.

Unfortunately, it'll probably take a few days of concerted

[2022-02-21 02:54] prakashmani2495 commented on #34
Hi Daniel,

Thank you for the quick response. Will try using [gdalwarp](https://gdal.org/programs/gdalwarp.html)'s cutline functionality. Please make this a priority item, since I wanted this feature urgently.

[2022-03-03 23:19] DanielJDufour commented on #88
not yet, sir.  I'll try to get to it this weekend. sorry.

[2022-03-07 22:49] DanielJDufour commented on #88
A new version of GeoRasterLayer for Leaflet has been published that includes the YCbCr support.  Thank you!

[2022-03-07 22:49] #88 closed

[2022-03-07 23:22] drwelby commented on #88
Thanks to you too!

[2022-03-08 18:31] AdrianaWinchester opened #92 "ScriptTagError: Tif map is not working"
**Describe the bug**
I worked in my project with the old script tag, unfortunately it no longer works (it is unreachable 404). The new one doesn't work either, does anyone know what the reason is or has the same problem - and I don't get an error either?

**Expected behavior**
The map (self georeferenced map) doesnt show up.

**Desktop (please complete the following information):**
 - OS: Windows

[2022-03-08 18:36] DanielJDufour commented on #92
Hello. Could you provide a link to your project? It will help with debugging!  Thank you.

[2022-03-09 09:18] AdrianaWinchester commented on #92
Because of copyrights (on pictures etc.) I am not allowed to publish the project, I could send you the repo?
or the code parts - we i am using the plugIn

[2022-03-09 12:38] AdrianaWinchester commented on #92
https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-cog-via-script-tag.html

should be the same error as here

[2022-03-09 13:02] DanielJDufour commented on #92
Thank you for finding that! I'll have a fix published by the end of the day. Sorry for this.

[2022-03-09 16:03] DanielJDufour commented on #92
Should be working now.  Please reopen or open a new issue for any bugs you find.  You helped a lot of people today! :-)

[2022-04-04 16:50] drwelby commented on #77
Seeing this with our COGs that are UTM like https://dg-opendata.s3.amazonaws.com/texas-tornadoes22/pre/14/120200003332/2018-11-13/103001008748E600-visual.tif

I can fit in some time to help if you can point me towards next steps.

[2022-04-13 08:22] rowanwins opened #93 "Packaging and distribution"
**Describe the bug**
Currently the [georaster-layer-for-leaflet](https://github.com/GeoTIFF/georaster-layer-for-leaflet) package points to the minified file which includes pretty much all the dependencies (eg proj4, chromajs etc).

https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/1b05e990ac333ae4f447a01dfe46da569b1eacaf/package.json#L5-L8

The minified files are handy for distributing a

[2022-04-26 19:46] eljahon opened #95 "Module parse failed: Unexpected token in Nuxt JS SSR"
in ./node_modules/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.min.js 2:37677
Module parse failed: Unexpected token (2:37677)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.js.org/concepts#loaders
| /*! For license information please see georaster-layer-for-leaflet.min.js.LICENSE.txt */

[2022-05-08 13:58] DanielJDufour commented on #95
hi, thanks for submitting this issue.  I'm not sure of the cause, but this issue usually happens when we encounter newish syntax that isn't fully supported by whatever browser or Node version we are using.

Some examples of the syntax that could throw the error are:
- nullish coalescing operator: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Nullish_coalescing_operato

[2022-05-12 20:30] glaroc opened #96 "Overviews not showing properly for categorical map"
I've generated a COG of a land cover (integer) map and hosted it on the cloud. I used gdalwarp with nearest resampling for the creation of the cog and the overviews. I used pixelValuesToColorFn to assign a distinct color for every land cover category. When loaded in georaster-layer-for-leaflet, there are "holes" of transparency in the map. It appears that the overviews contain interpolated values

[2022-05-12 21:02] DanielJDufour commented on #96
Hi.  Does this link help? https://github.com/GeoTIFF/georaster-layer-for-leaflet/issues/86#issuecomment-974067073

[2022-05-12 21:10] glaroc commented on #96
Absolutely! It works like a charm now.

I couldn't find a resampling option in the documentation. Is this documented somewhere ?

Thank you!

[2022-05-18 11:28] xayrullo opened #97 "NuxtJS: error in library"
**Describe the bug**
When we run georaster, our nuxt project doesn't read this library. Instead of this thrown

ERROR in ./node_modules/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.min.js 2:37677
Module parse failed: Unexpected token (2:37677)
You may need an appropriate loader to handle this file type, currently no loaders are configured to process this file. See https://webpack.j

[2022-05-26 21:26] MTishman2013 opened #98 ""Module parsed failed" - Vue"
After doing the npm install
Im getting Module parsed failed in 3 areas:

`webpack-dev-server --inline --progress --config build/webpack.dev.conf.js

 ERROR  Failed to compile with 3 errors5:11:51 PM

 error  in ./node_modules/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.js

Module parse failed: Unexpected token (22:12)
You may need an appropriate loader to handle this file type.
|

[2022-06-01 15:51] pinky2070500 opened #99 "net::ERR_BLOCKED_BY_CLIENT"
i just clicked on the demo and it says this error
![image](https://user-images.githubusercontent.com/97578341/171446806-3253c9da-d27e-42c2-9184-b29b73f1a666.png)

[2022-06-03 22:43] DanielJDufour commented on #99
Sorry, you are experiencing this.  Could you try loading this page in Incognito Mode and let me know if that works?  Thank you.

[2022-06-03 22:51] DanielJDufour commented on #98
Hi, thanks for bringing this to my attention.  I'm optimistic we can fix this.  Are you using TypeScript or just JavaScript?

[2022-06-03 22:52] DanielJDufour commented on #98
I think the solution will be probably adding the correct optional chaining babel plugin to https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/webpack.config.js

[2022-06-03 23:02] MTishman2013 commented on #98
Javascript was what we were using.
What specifically do you recommend I add to the Webpack config? I tried making similar changes, but i had no luck

[2022-06-04 02:17] pinky2070500 commented on #99
it worked, probably because i installed some extension. thank you very much

[2022-06-06 08:41] revitalpresman opened #100 "Trying to import georaster-layer-for-leaflet makes my software crash"
I'm trying to use "georaster-layer-for-leaflet" in my react application,
I'm importing this way:

import { GeoRasterLayer } from "georaster-layer-for-leaflet";

and my program is crashing and I get this error:
"FATAL ERROR: Ineffective mark-compacts near heap limit Allocation failed - JavaScript heap out of memory".

**Screenshots**
![image](https://user-images.githubusercontent.com/34279840/17212

[2022-06-07 08:37] pinky2070500 commented on #99
hi sir, I tried to upload my picture but it doesn't work, I'm getting this error, please help

Failed to load from url or blob http://gsnc.local/projects/gsnc/storage/raster/home/idw_muivi_wgs84_1654590709.tif TypeError: Invalid byte order value.
    at eval (geotiff.js?bea3:347:1)
    at h (geotiff.js?bea3:2:1)
    at Generator.eval [as _invoke] (geotiff.js?bea3:2:1)
    at t.<computed> [as next]

[2022-06-07 19:42] jksaunders commented on #100
I had a similar issue starting out with this package today where the tab freezes and crashes, but got it working after downgrading to `georaster-layer-for-leaflet@3.5.0`! Give that a try and hopefully we can help identify an issue introduced since 3.5.0.

My usage looks like this:
<details>

[code]
</details>

[2022-06-08 10:29] revitalpresman commented on #100
Thank you for the answer, unfortunately this versions of georaster-layer-for-leaflet also does the same error.

[2022-06-10 15:06] rumski20 commented on #82
Hi @pinky2070500 , I was able to get this working with [vue-leaflet](https://github.com/vue-leaflet/vue-leaflet) to some effect.
Essentially, I created a functional class that gets the geotiff, processes the georaster, and creates the georasterLayer. That all gets returned to a Vue component that has a leaflet map (`l-map`) with a feature group (`l-feature-group`) in it. The feature group then add

[2022-06-10 15:06] #82 closed

[2022-06-15 17:25] MTishman2013 commented on #98
Here's my webpack config for reference:

Not exactly sure what to change/add

[2022-06-16 15:12] pcpatfire commented on #100
Same problem.

[2022-06-22 09:19] lliendo opened #101 "Blacked region shown when loading GeoTiff"
Hi there! I'm having an issue when loading a GeoTiff as explained in the README.md. I thought that I was doing something wrong so I also decided to try: [Load GeoTIFF](https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-file.html) to check if I was making a mistake. The live example also behaves the same way. I do know that the GeoTIFF that I'm feeding the library is ok bec

[2022-06-26 11:01] staffordsmith83 opened #102 "Georaster component for react-leaflet?"
**Is your feature request related to a problem? Please describe.**
I use the react-leaflet library and Id love to be able to add a Georaster layer as a react component.

**Describe the solution you'd like**
I would like to have a custom component like `<TileLayer />` which will render a Georaster Layer. Perhaps something called <GeorasterLayer />

**Describe alternatives you've considered**
Build

[2022-06-27 01:04] AmauryVa commented on #84
Hello @rumski20
Can you share me a working example ?
I currently generate a geotiff with 3 bands (RGB) that represente wind speed. I would like to display a tooltip on click and display the value of wind speed. Maybe the solution is to export the wind speed in 4th bands and display it in tooltip?

Thank you very much.

[2022-07-09 21:00] DanielJDufour commented on #102
Hi, @staffordsmith83 , thanks for posting this issue.  Yes, people have definitely used this with react-leaflet although I'm not aware of anyone publishing a reusable library that can be reused with other projects.  I know @CarlQLange was working on one back in the day, but I'm not sure on how far it go.  It would be awesome if you wanted to collaborate with others and create a new open-source pro

[2022-07-09 21:06] DanielJDufour commented on #101
Hi, @lliendo .  Thanks for reaching out.  It could be a couple things going on.  Do you know if there is a NoData Value set?  I don't see one in the gdalinfo response, so I'm not sure how QGIS knows what to mask.  It's also possible there is a ColorMap involved as well.  georaster-layer-for-leaflet doesn't do great with colormaps.

If you like, you can email the file to daniel.j.dufour@gmail.com a

[2022-07-09 21:11] DanielJDufour commented on #100
Hi, all.  I'm not sure what the issue but if I had to guess some possibilies:
- the raster has one band and the new statistical calculations are causing an issue, in which case add a pixelValuesToColorFn would fix that
- something changed with the way how [geotiff.js](https://github.com/geotiffjs/geotiff.js) unpacks raster tile values

Open to other ideas!

[2022-07-09 21:13] DanielJDufour commented on #99
@pinky2070500 , georaster-layer-for-leaflet uses [geotiff.js](https://www.npmjs.com/package/geotiff).  Do you know if you are able to successfully load it using geotiff.js?

[2022-07-09 21:24] DanielJDufour commented on #98
@MTishman2013 , could you show the line where you import georaster-layer-for-leaflet.  It says there's an error at `error in ./node_modules/georaster-layer-for-leaflet/dist/georaster-layer-for-leaflet.js`, but `dist/georaster-layer-for-leaflet.js` isn't referenced in the most recent package.json (https://unpkg.com/georaster-layer-for-leaflet@3.8.0/package.json), so I want to understand a little mo

[2022-08-22 15:48] wenhai03 opened #104 "get the tiff data of the current click？"
I click on the map and want to get the tiff data of the current click, what should I do?

[2022-08-26 08:34] DanielJDufour commented on #34
This was completed.  You can find the documentation here: https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/ADVANCED.md#masking

[2022-08-26 08:34] #34 closed

[2022-08-30 22:47] rockliffelewis opened #105 "Bounds incorrect with EPSG:3031 Polar Stereographic"
I am working on a leaflet app which is set in EPSG:3031 Antarctic Polar Stereographic. Provided the TIFF is also in 3031 it does display ok, however it does not display the whole image and has some interesting artifacts.

I have worked around the problem by padding the calculated bounds here:
https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/src/georaster-layer-for-leaflet.ts#L984

[2022-08-30 23:33] DanielJDufour commented on #105
Hi, @rockliffelewis .  Thanks so much for submitting this.  Would you happen to be able to share the tif?  Or create a test case in https://github.com/GeoTIFF/georaster-layer-for-leaflet/tree/master/tests ?  Supporting rasters displays in polar regions is personally very important to me :-)

[2022-08-31 00:12] rockliffelewis commented on #105
No worries, here is a little test harness that demonstrates the problem:
https://jsfiddle.net/6rsxaqup/14/

[2022-09-02 01:19] rockliffelewis commented on #105
I've had some time to look into the code, and the issue is that you cant really use a two point bounding box to effectively calculate an area in polar stereographic, because a 'box' ([N, W], [S, E]) in this projection is actually a cone.

On top of that, if you take [N,W],[S,E] as (top left, bottom right), well... in this projection that's not always correct because depending where on the map it i

[2022-09-02 23:02] DanielJDufour commented on #105
hi @rockliffelewis , thank you for all the info.  definitely makes sense.  When I wrote the original reprojection code for this library, I definitely missed some things.  In theory, [reproject-bbox](https://github.com/danieljdufour/reproject-bbox) and [geo-extent](https://github.com/danieljdufour/geo-extent) (which is used elsewhere) should be able used in the initBounds function.

[2022-09-09 21:05] DanielJDufour commented on #105
Hi, @rockliffelewis , I'm in the progress of improving georaster-layer-for-leaflet's bounds calculation, but I'm running into some weirdness with the origin of the sample COG you referenced in your code.  For some reason, I get different origin values depending on what program I am running:

### tiffdump
[code]

### gdalinfo
[code]

### geotiff.js
[code]

Do you know what program was used to creat

[2022-09-11 22:34] rockliffelewis commented on #105
I reprojected and cogged the original tiff using GDAL, I'll check the original to see if that lines up

[2022-09-13 06:38] anton-climate commented on #105
[bremen_sea_ice_conc_2022_9_9.zip](https://github.com/GeoTIFF/georaster-layer-for-leaflet/files/9554111/bremen_sea_ice_conc_2022_9_9.zip)

I think I am having the same problem.

When I add this geotiff to my map (it works in QGIS and validates ok with gdal) all it shows is small triangle in a corner of the map.

![image](https://user-images.githubusercontent.com/79179784/189828119-4ab80f88-457b-4e

[2022-09-30 03:32] sammertime opened #106 "updateColors function"
Hi,

I'm attempting to implement the updateColors function, but I'm struggling and haven't been able to find any examples of its usage.  I'm essentially looking to modify the overlayed georaster based on the values of a range slider.  For example, when the range slider is modified, I'd like to modify the overlayed georaster.  The updateColors function seems like it would be perfect for that, but a

[2022-09-30 13:09] DanielJDufour commented on #106
Hi, thanks for your feedback.  I should add a proper example to https://github.com/geotiff/georaster-layer-for-leaflet-example, but in the meantime, you can find some examples here that I use for manual testing:
- https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/tests/dynamic_threshold_ndvi.html
- https://github.com/GeoTIFF/georaster-layer-for-leaflet/blob/master/tests/dynamic_th

[2022-09-30 18:11] sammertime commented on #106
Thanks Daniel!  I'll take a look at those examples and see if I can apply to my use case - all the best!

S

[2022-10-01 15:00] PostholerCom opened #107 "How to read tif overviews?"
First, thank you for creating this!

I'm struggling to understand how this handles COG overviews. Using the demo as is, it appears to download the *whole* tif and not the appropriate overview regardless of zoom level. I've tried this on 2 different apache web servers, both with range request enabled and the .tif local to the web server.

Can someone clear the fog for me? Thanks!

[2022-10-01 15:04] PostholerCom opened #108 "Reading of GDAL .vrt"
The ability to read GDAL .vrt files. A .vrt can be a collection of .tifs (COG) files.

Instead of loading each .tif in a loop, a function to load all .tifs found in the .vrt.

[2022-10-01 17:48] sammertime commented on #106
Got it working : ) .. thanks for the helpful examples!  Also, I had one final question regarding the .ovr files here:

https://github.com/GeoTIFF/georaster/issues/69

Just letting you know in case it got lost in the shuffle - appreciate all your help!

S

[2022-10-13 11:29] luka-mikec opened #109 "Rollup build produces a runtime error"
**Describe the bug**
When building an NPM project works when using Vite/Rollup, an error is produced during runtime (something like `xyz.defs is not a function` with a random string in place of `xyz`).

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new vanilla JavaScript Vite project with `npm init vite`, and name it e.g. `georaster-layer-for-leaflet`
2. `cd georaster-layer-for-lea

[2022-10-13 15:11] luka-mikec commented on #109
After more debugging I found that the issue is caused by a check within the `proj4-fully-loaded` dependency, specifically this block:

[code]

More specifically, the first operand (`typeof proj4 === "object" `) is false in my case (the expression returns a function, so `typeof proj4` is `"function"`). The other two conditions pass. I'll submit a possible fix (removal of the first operand/equality

[2022-10-13 22:43] DanielJDufour commented on #109
Hey! Just wanted to let you know I'm reading this. I really appreciate the time you've taken diving into the details. I'm overloaded with work and family events the next few days, but should have time next week to review. Thank you!  It's really impressive you were able to dig through the libraries so quickly!

[2022-10-14 03:49] staffordsmith83 opened #110 "Hidden caching behaviour"
**Describe the bug**
I have defined a new `pixelValuesToColorFn` but my map is still rendering the `cog` with the old colour scheme.
Is there some caching happening that is hidden?

In the `gif` below, see when I select a new height on the left slider, the raster should re-render with different colours. It initially renders with the old colour scheme (basic blue and yellow), and then updates to th

[2022-10-14 04:02] staffordsmith83 commented on #110
Sorry this is my error, thanks for a great library!

[2022-10-14 04:02] #110 closed

[2022-10-22 18:46] mttucl opened #111 "Error parsing georaster tiff file"
I get below error in screenshot when I try to read the tiff file below. I don't have this issue with another lib that uses geotiff.js.  I went through reported issues here and saw #32  but not sure if it is related.

![glfl-error](https://user-images.githubusercontent.com/31057583/197356795-c6c298f8-b2a7-4c94-b676-4a655aef4e30.PNG)

Here is the file (please change file ext to "tif", sorry about th

[2022-10-23 20:24] mttucl commented on #111
Just a followup, I checked the tif file with gdalinfo and I see it is not georeferenced. Not sure if this is what causes this issue.

[2022-10-24 08:40] luka-mikec commented on #109
Hi @DanielJDufour, did you have a chance to review the PR (https://github.com/DanielJDufour/proj4-fully-loaded/pull/3) by any chance? I wrote an explanation there of why that PR does not have any negative side effects, i.e. there is no situation where the PR's behaviour would cause an error and the existing code would not, so it should be safe to merge.

[2022-11-03 02:11] jcphill commented on #107
When I zoom in on https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-cog-via-script-tag.html I see multiple partial fetches of 20170831_172754_101c_3b_Visual.tif and it definitely loads faster than downloading the entire raster. Some of the other demos fetch the entire .tif into an ArrayBuffer that is passed to parseGeoraster rather than just the URL.

[2022-11-03 02:44] jcphill commented on #104
This capability is not available but definitely something I will want. It should probably be implemented as layer.getValuesAtLatLng(e.latlng) and would need to be async to handle fetching from COGs.

[2022-11-03 03:03] DanielJDufour commented on #104
I've wanted to keep analysis concerns separate from visualization, but I realize it's a balance that must be struck and I might need to recalibrate.  You can see an example here that identifies pixel values at a point using geoblaze
https://geotiff.github.io/georaster-layer-for-leaflet-example/examples/load-via-script-tag-with-geoblaze.html

GeoBlaze supports identifying values in COGs and reproje

[2022-11-03 05:10] jcphill commented on #104
Thanks, the geoblaze example does exactly what I need (return real value(s) without duplicating raster data).

[2022-11-05 16:00] luka-mikec commented on #109
@wrengames It seems Daniel is busy :), but I found out that recent versions of `npm` support changing dependencies' dependencies through a special `overrides` property, so a relatively simple workaround is:
1. Make a local copy of proj4-fully-loaded (e.g. proj4-fully-loaded-patched) and change the JavaScript file's code to (if you only need Rollup):
[code]
2. Find out which packages depend on proj

[2022-11-05 16:10] DanielJDufour commented on #109
you're awesome @luka-mikec !  sorry for the late reply. I'll take a deep look when I metaphorically come up for air. In the meantime, would it be possible to add a test to https://github.com/GeoTIFF/georaster-layer-for-leaflet/tree/master/tests similar to https://github.com/GeoTIFF/georaster-layer-for-leaflet/tree/master/tests/vue.  It'll make accepting and testing faster (and making sure no regre

[2022-11-05 19:19] wrengames commented on #109
Thanks for this @luka-mikec !  You have saved me a load of work finding a replacement for the georaster plugin.

Thanks also to @DanielJDufour  for making the plug-in on the first place 😊

[2022-11-06 16:05] DanielJDufour commented on #109
I updated the dependencies with the fix, but I'm in the middle of another update, so I'm going to combine the work and try to get a new version published later this week.  (I'll save time that way)

I created a new repo: https://github.com/GeoTIFF/georaster-layer-for-leaflet-vite and invited you both as maintainers.  We can use it to test the new version of georaster-layer-for-leaflet once it is r

[2022-11-06 18:12] luka-mikec commented on #109
@wrengames np!

@DanielJDufour thanks! The version 0.2.0 doesn't cause an issue: https://github.com/GeoTIFF/georaster-layer-for-leaflet-vite/pull/1
I don't know if you wanted to merge this workaround or propagate the new version of proj4-fully-loaded through other dependencies (reproject-bbox and geocanvas -> geomask -> reproject-geojson)? If propagate, we don't need to change anything in that rep

[2022-11-06 19:46] wrengames commented on #109
Geoblaze also needs the dependency updated for my usage please.

[2022-11-08 21:05] glaroc commented on #77
We are having this issue with some of our COGs that are not in EPSG:4326 or 3857 as well.

[2022-11-11 01:41] maritimeWeatherUser opened #112 "Geotiff Layer for Anti Meridian South Pacific Leaflet map."
Hi guys i have a test geotiff file that i have loaded as a layer into Leaflet map. The Geotiff has been georeferenced within QGIS using the EPSG:4326 CRS (gdaltranslate and warp) functions and raw geotiff extracted from a GFS forecast netcdf file band (Thredds = Unidata).

The geotiff produced loads onto the Leaflet map BUT on the West of the anti-meridian geotiff layer shows as expected, and on t

[2022-11-11 01:50] DanielJDufour commented on #112
Hello, @maritimeWeatherUser .  Would you be able to share the GeoTIFF file?  It will make debugging easier.  If you can't share it publicly on Github, you could email it to daniel.j.dufour@gmail.com.  Thank you for bringing this bug to our attention!

[2022-11-14 05:01] maritimeWeatherUser commented on #112
Hi Daniel i have solved the problem through geoserver and openlayers am
excited about the future of the project now. As the system i am building is
based in the South Pacific one needed to use a specialised CRS system.
The QGIS geotiffs where produced correctly.
Thanks guys.

On Fri, 11 Nov 2022 at 14:50, Daniel J. Dufour ***@***.***>
wrote:

[2022-11-22 20:13] LukeHayesss opened #113 "Display TIFF Files in React Application as LayerControl.BaseLayer TileLayer"
Hi, using React-Leaflet I'm able to display PNG layers within LayerControl.Baselayer TileLayer, and can display the various layers as additional layers on top of the initial baselayer. Utilizing a basic index.html file, I can build a simple Leaflet application that can parse TIFF files, and add them as layers, but within React-Leaflet, I'm struggling to get the layers to display. We've used Georas

[2022-11-28 11:27] Tommatheussen opened #114 "COG skewed at lower zoom levels"
**Describe the bug**
COGs are skewed at lower zoom levels. This only happens when the data gets loaded directly using the URL. Loading the file into an arrayBuffer works correctly, but this obviously defeats the purpose of COGs. (sample code below)

**To Reproduce**
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.
**Screenshots**

Lower zoom level shows